<div class="particles">
    <span *ngFor="let p of particles" [style.top.%]="p.topPct" [style.left.%]="p.leftPct" [style.width.px]="p.size"
        [style.height.px]="p.size" [style.opacity]="p.opacity" [style.animationDelay.s]="p.delay"
        [style.animationDuration.s]="p.duration"></span>
</div>

<!-- Content -->
<div class="countdown-section">
    <div class="page">
        <div style="align-items: center; justify-content: center; display: flex;">
            <img src="/logo/LOGO-ONEE-ELECTION-2.png" class="logo-image-mobile" alt="Logo" />
        </div>
        <div class="card">
            <img src="/logo/Logo_ONE_NEWS.png" class="logo-image" alt="Logo" />
            <!-- <div class="badge">COUNTDOWN</div> -->

            <h1 class="title">{{ title }}</h1>
            <div class="subtitle">{{ subtitle }}</div>

            <div class="grid">
                <div class="box">
                    <div class="num">{{ countdown.days }}</div>
                    <div class="label">วัน</div>
                </div>
                <div class="box">
                    <div class="num">{{ countdown.hours }}</div>
                    <div class="label">ชั่วโมง</div>
                </div>
                <div class="box">
                    <div class="num">{{ countdown.minutes }}</div>
                    <div class="label">นาที</div>
                </div>
                <div class="box">
                    <div class="num">{{ countdown.seconds }}</div>
                    <div class="label">วินาที</div>
                </div>
            </div>

            <div class="ended" *ngIf="countdown.isEnded">
                ถึงเวลาแล้ว ✅
            </div>

            <div class="actions">
                <button class="primary"
                    (click)="goToWebsite()"><mat-icon>how_to_vote</mat-icon>ดูผลการเลือกตั้งเรียลไทม์</button>
            </div>
            <a href="https://www.one31.net/live" target="_blank" rel="noopener noreferrer" class="link-live">
                <mat-icon>live_tv</mat-icon>รับชมการถ่ายทอดสด</a>
        </div>
    </div>
</div>

<div class="bg">
</div>

<div id="news-section" class="news-section">
    <div class="news-header">
        <h2 class="news-title">ข่าวเลือกตั้ง 2569</h2>
        <div class="news-subtitle">อัปเดตข่าวล่าสุดจาก ONE</div>
    </div>

    <div class="news-container">
        <div class="news-grid">
            <article class="news-card" *ngFor="let n of newsData; trackBy: trackById" (click)="openNews(n)">

                <div class="thumb">
                    <img [src]="n.resizeThumbnail || n.thumbnail" [alt]="n.title" loading="lazy" />
                </div>

                <div class="content">
                    <div class="title">{{ n.title }}</div>
                    <div class="caption">{{ n.caption }}</div>
                    <div class="meta">
                        <mat-icon>schedule</mat-icon>
                        <span>{{ n.createdTime | date:'dd/MM/yyyy HH:mm' }}</span>
                    </div>
                </div>
            </article>
        </div>
        <div class="news-footer">
            <div class="loading" *ngIf="loadingNews">
                <mat-icon class="spin">autorenew</mat-icon>
                <!-- <mat-icon class="spin">autorenew</mat-icon> กำลังโหลด... -->
            </div>
        </div>
    </div>
</div>

<button class="scroll-top" *ngIf="showScrollTop" (click)="scrollToTop()">
    <mat-icon>north</mat-icon>
</button>