.manage-container {
    margin: .3rem .2rem;
    height: calc(100vh - 200px);


    .flex-column-container {
        display: flex;
        height: 100%;

        .left {
            flex: 1.2;
            padding: 10px;

            .manage-content {
                height: 100%;
                overflow: auto;
                background: #f0f0f0;
                border-radius: 10px;
                padding: .5rem;

                .set-auto-time {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    padding: .5rem;

                    input {
                        width: 3rem;
                        border: none;
                        border-radius: 10px;
                        padding: .2rem .5rem;
                    }
                }

            }
        }

        .right {
            flex: 1;
            padding: 10px;
        }
    }

    /* Media Query สำหรับหน้าจอเล็ก */
    @media (max-width: 768px) {

        margin: 0;
        height: 100%;

        .flex-column-container {
            flex-direction: column;
            gap: 5px;
        }

        .left,
        .right {
            flex: 1;
            padding: 5px;
            width: 100%;
        }

        textarea {
            height: fit-content;
            min-height: 300px;
        }
    }

    // /* Media Query สำหรับมือถือเล็ก */
    @media (max-width: 480px) {
        font-size: small;
    }

}


.update-data {
    padding: .5rem;

    .percent-count {
        display: flex;
        flex-direction: column;
        width: fit-content;
        // width: 50%;
        margin-left: auto;
    }

    /* ---- Flex layout ---- */
    .header-row,
    .data-row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .rank-col {
        flex: 0 0 20px;
        text-align: center;
    }

    .name-col {
        flex: 1.5;
    }

    .pic-col {
        flex: 1.5;
    }

    .pic-logo-col {
        flex: 1.5;
    }

    .score-col {
        flex: 1.5;
    }

    .zone_seats-col,
    .partylist_seats-col,
    .total_seats-col {
        flex: 1.5;
    }

    .name-col .form-control,
    .pic-col .form-control,
    .score-col .form-control {
        width: 100%;
    }

    .ex-text {
        color: rgb(134, 134, 134);
        font-size: small;
        margin-left: 5px;
        font-weight: 400;
    }

    .form-label {
        font-size: 0.9rem;
        font-weight: 600;
    }

    /* Media Query สำหรับหน้าจอเล็ก */
    @media (max-width: 768px) {
        .text-header {
            font-weight: 700;
        }

        .percent-count {
            width: 100%;

            input {
                font-size: smaller;
            }
        }


        .header-row {
            display: none !important;
        }

        .data-row {
            flex-direction: column;
            align-items: flex-start;
        }

        .rank-col,
        .name-col,
        .pic-col,
        .score-col {
            flex: none;
            width: 100%;
        }

        .rank-col {
            text-align: left !important;
            font-weight: 500;
        }

        input {
            font-size: smaller;
        }

        .form-label {
            font-size: small;
            font-weight: 400;
        }
    }

}