.manage-container {
    margin: .3rem .2rem;
    height: calc(100vh - 200px);
    

    .flex-column-container {
        display: flex;
        height: 100%;

        .left {
            flex: 1.2;
            padding: 10px;

            .manage-content {
                height: 100%;
                overflow: auto;
                background: #f0f0f0;
                border-radius: 10px;
                padding: .5rem;

                .set-auto-time {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    padding: .5rem;

                    input {
                        width: 3rem;
                        border: none;
                        border-radius: 10px;
                        padding: .2rem .5rem;
                    }
                }

            }
        }

        .right {
            flex: 1;
            padding: 10px;
        }
    }
}

.update-data {
    padding: .5rem;

    .percent-count {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-left: auto;
    }

    .ex-text {
        color: rgb(134, 134, 134);
        font-size: small;
        margin-left: 5px;
        font-weight: 400;
    }
}