<!-- Header -->
<div class="header-row">
    <!-- <img src="/logo/LOGO-ONEE-ELECTION.png" class="logo-image" alt="Logo"
        (click)="showVotingStatus && onCliclkLogo()" /> -->
    <div class="logo-frame" (click)="showVotingStatus && onCliclkLogo()" *ngIf="!isDesktop">
        <img src="/logo/LOGO-ONEE-ELECTION-2.png" class="logo-image-top" alt="Logo" />
    </div>
    <div class="banner-left-top-container" *ngIf="isDesktop && showVotingStatus" (click)="showVotingStatus && onCliclkLogo()">
        <img src="/logo/LOGO-ONEE-ELECTION-2.png" class="logo-image-top" alt="Logo"
            [class.referendum]="default" />
    </div>

    <div *ngIf="showVotingStatus" class="voting-status-desktop">
        <!-- <div *ngIf="showVotingStatus" class="referendum-link" (click)="referendum()" style="margin-right: 200px;">
            <mat-icon>thumbs_up_down</mat-icon>
            <p>ผลคะแนนประชามติ</p>
        </div> -->
        <div class="status-row">
            <div class="status-left">
                <span class="label">อัปเดตล่าสุด</span>
                <span class="time ti_bf updateDate">22/10/2025 11:15:00</span>
            </div>

            <div class="zoneAndParty">
                <div class="status-right zone">
                    <span class="prefix">นับแล้ว</span>
                    <span class="type">เขต</span>
                    <span id="totalVoteZone">0</span>
                    <span id="percentZone">0%</span>
                </div>

                <div class="status-right party">
                    <span class="type">บัญชีรายชื่อ</span>
                    <span id="totalVotePartylist">0</span>
                    <span id="percentPartylist">0%</span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showVotingStatus" class="referendum-link-2" (click)="referendum()">
        <div class="logo-frame" *ngIf="isDesktop">
            <img src="/logo/referendum.png" alt="Logo" />
        </div>
        <p *ngIf="isDesktop">ผลคะแนนประชามติ</p>
        <div *ngIf="!isDesktop" style="display: flex; justify-content: center; align-items: center;">
            <mat-icon style="font-size: 14px; width: 18px; height: 16px;">thumbs_up_down</mat-icon>
            <p style="text-decoration: underline;">
                คลิกเพื่อดูผลคะแนนประชามติ</p>
        </div>
    </div>

    <div *ngIf="!showVotingStatus"
        style="color: white; display: flex; justify-content: center; align-items: center; gap: 0.5rem; user-select: none;">
        <!-- กกต. / อาสาสมัคร -->
        ผลคะแนนจาก :
        <label class="switch">
            <input type="checkbox" [checked]="isChecked" (click)="onToggleClick($event)" />
            <span class="slider round">
                <span class="toggle-text">{{ toggleLabel
                    }}</span>
            </span>
        </label>
    </div>

    <div *ngIf="!showVotingStatus" class="user-menu">
        <span class="user-name">{{username}}</span>
        <div class="logout-btn" matTooltip="ออกจากระบบ" (click)="logout()">
            <mat-icon fontIcon="logout" class="logout-icon"></mat-icon>
        </div>
    </div>
</div>

<!-- Content -->
<div class="master-padding" [class.pad]="isReferendumPage">
    <router-outlet></router-outlet>
</div>

<!-- Footer - แค่ banner เล็ก ๆ -->
<div #footer class="footer" *ngIf="is768 && isMainPage">
    <div class="banner-scroller">
        <div class="banner-track">
            <img *ngFor="let url of bannerImages" [src]="url" class="banner-img" />
            <img *ngFor="let url of bannerImages" [src]="url" class="banner-img" />
        </div>
    </div>
</div>


<div class="source-label" [style.bottom]="isMainPage ? '70px' : '10px'">
    {{dataSourceLabel}}
</div>