<!-- Header -->
<div class="header-row">
    <img src="https://onee.oneeclick.co/assets/images/logo-onee.png" class="logo-image" alt="Logo"
        (click)="showVotingStatus && onCliclkLogo()" />
    <div *ngIf="showVotingStatus" class="referendum-link" (click)="referendum()"><mat-icon>thumbs_up_down</mat-icon>
        <p>ผลคะแนนประชามติ</p>
    </div>
    <div *ngIf="showVotingStatus" class="voting-status-desktop">
        <div class="status-layout">
            <div class="row">
                <div class="left-cell">
                    <span class="label">อัพเดตล่าสุด</span>
                </div>
                <div class="right-cell">
                    <span class="prefix">นับแล้ว</span>
                    <span class="type zone">เขต</span>
                    <span id="totalVoteZone">0</span>
                    <span id="percentZone">0%</span>
                </div>
            </div>

            <div class="row">
                <div class="left-cell">
                    <span class="time font_number timerFill">
                        <span class="ti_bf updateDate">22/10/2025 11:15:00</span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="right-cell">
                    <span class="type party">บัญชีรายชื่อ</span>
                    <span id="totalVotePartylist">0</span>
                    <span id="percentPartylist">0%</span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!showVotingStatus"
        style="color: white; display: flex; justify-content: center; align-items: center; gap: 0.5rem; user-select: none;">
        <!-- กกต. / อาสาสมัคร -->
        ผลคะแนนจาก :
        <label class="switch">
            <input type="checkbox" [checked]="isChecked" (click)="onToggleClick($event)" />
            <span class="slider round">
                <span class="toggle-text">{{ toggleLabel
                    }}</span>
            </span>
        </label>
    </div>

    <div *ngIf="!showVotingStatus" class="user-menu">
        <span class="user-name">{{username}}</span>
        <div class="logout-btn" matTooltip="ออกจากระบบ" (click)="logout()">
            <mat-icon fontIcon="logout" class="logout-icon"></mat-icon>
        </div>
    </div>
</div>

<!-- Content -->
<div style="border-radius: 2rem; margin: 1rem 1rem 0 1rem;">
    <router-outlet></router-outlet>
</div>

<div class="source-label">
    {{dataSourceLabel}}
</div>