// svg {
//   width: 100%;
//   height: auto;
// }

p {
  padding: 0px;
  margin: 0;
}

// path {
//   cursor: pointer;
//   transition: fill 0.3s;
// }

// path:hover {
//   fill: yellow !important;
//   /* สี hover */
// }

.svg-container {
  width: 100%;
  // height: 100%;
  overflow: visible !important;
  position: relative;
  z-index: 1000;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // background-image: url('/background/TH.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

// .glass-card {
//   border-radius: 15px;
//   height: 100%;

//   /*1*/
//   // background: rgba(255, 255, 255, 0.1);
//   // backdrop-filter: blur(35px);
//   // border: 2px solid rgba(255, 255, 255, 0.1);
//   // box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
//   // overflow: hidden;

//   /*2*/
//   background: rgba(255, 255, 255, 0.1);
//   /* พื้นหลังโปร่งแสง สีขาวอ่อน */
//   // background: rgba(0, 0, 0, 0.2);
//   backdrop-filter: blur(15px);
//   /* เบลอพื้นหลังเบาๆ ให้ดูเหมือนกระจก */
//   -webkit-backdrop-filter: blur(15px);
//   /* สำหรับ Safari */
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   /* ขอบบางๆ โปร่ง */
//   border-radius: 15px;
//   /* มุมโค้งมน */
//   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
//   /* เงาเบาๆ เพื่อความลึก */
//   transition: all 0.3s ease;
//   /* การเปลี่ยนแปลงนุ่มนวล */
//   /*3*/
//   // backdrop-filter: blur(16px) saturate(180%);
//   // -webkit-backdrop-filter: blur(16px) saturate(180%);
//   // background-color: rgba(255, 255, 255, 0.75);
//   // border-radius: 12px;
//   // border: 1px solid rgba(209, 213, 219, 0.3);
//   // -webkit-backdrop-filter: blur(16px) saturate(180%);
// }

.glass-card {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
  border-radius: 15px;
  height: 100%;
}

.glass-card:before,
.glass-card:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 120s linear infinite;
  border-radius: 15px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glass-card:after {
  filter: blur(20px);
}

.svg-container {
  width: 100%;
  // width: fit-content;
  overflow: visible !important;
  position: relative;
  z-index: 1000;
}

// .svg-container {
//   overflow: visible;
// }

// .glass-card {
//   // position: relative;
//   // background: linear-gradient(0deg, #000, #272727);
//   // background-image: url('/background/bg10.jpg');
//   // // background-size: cover;
//   // // background-position: center;
//   // // background-repeat: no-repeat;
//   // border-radius: 15px;
//   height: 100%;
//   color: #fff;
//   background: rgba(188, 184, 198, 0.2);
//   backdrop-filter: blur(5px);
//   -webkit-backdrop-filter: blur(5px);
//   box-shadow: inset 2px -2px 6px rgba(214, 214, 214, 0.2),
//     inset -3px 3px 3px rgba(255, 255, 255, 0.3);
//   border-radius: 16px;
// }

/* ANIMATION */
// >>> spot distric
.animated-path {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// >>> button Close
.ds-Button {
  user-select: none;
  font-size: 0.8rem;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  gap: 0.75rem;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1005;
}

/*

PAGE 1

*/

// >>> change map or seat
.button-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  z-index: 1003;
  padding: 5px;
}

.btn-change {
  user-select: none;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: #2ed47e;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  gap: 0.75rem;
  transition: all 0.3s ease;
  /* เพิ่ม transition สำหรับเอฟเฟกต์ */
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.change-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.btn-change:hover mat-icon,
.btn-change:hover .change-icon {
  transform: scale(1.2);
}

.btn-change span {
  font-size: 14px;
  color: #000;
  text-align: center;
  transition: color 0.3s ease;
}

.btn-change:hover span {
  color: #555;
}

.btn-change.active {
  background-color: #e0e0e0;
  border-color: #888;
}

.btn-change.active mat-icon,
.btn-change.active .change-icon {
  transform: scale(1.1);
}

.btn-change.active span {
  color: #333;
}

// >>> <app-dashboard-score-and-seat/>
.card-scroe-and-seat {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

// >>> magnifier
.magnifier {
  position: fixed;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  pointer-events: auto;
  z-index: 1001;
}

// >>> Tooltip
.svg-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1003; // Increased to overlay on top of magnifier
  max-width: 320px;
  min-width: 260px;
  font-size: 14px;
  pointer-events: none;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
}

.tooltip-text p {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.tooltip-subtext>div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tooltip-subtext img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 1px solid #ddd;
}

.tooltip-subtext p {
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: 12px;
}

.thailand-map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/*

PAGE 2

*/

// >>> col-4
.card-left {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .party-rank-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .party-logo {
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
  }

  .head-logo {
    width: 90%;
    position: relative;
    bottom: -20px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .party-text-left {
    text-align: left;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  .party-text-right {
    text-align: right;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
}

// >>> col-2
.orange-dots {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: flex-start;
  gap: 0.2rem;

  .dot {
    width: 1.4dvw;
    height: 1.4dvw;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
}

.card-m {
  border-radius: 15px;
  padding: 20px;
}

/*

PAGE 3

*/

.show-distric {
  width: 90vw;
  height: 85vh;
  margin: auto;

  .card {
    padding: 30px;
  }

  .province {
    font-size: 2.3rem;
    font-weight: bolder;
  }

  .zone {
    font-size: 2rem;
    font-weight: 300;
  }

  .header {
    font-size: 2rem;
  }

  .partyName {
    font-size: 1.5rem;
  }

  .header-table {
    color: #ffffff8e;
    display: flex;
    justify-content: space-between;
  }

  .candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1rem;
    background: #ffffff37;
    gap: 2rem;

    .no {
      border: #ccc 1px solid;
      border-radius: 30px;
      padding: 0px 6px;
      margin-right: 4px;
    }

    .number {
      background: #000;
      height: 60px;
      width: 2.5rem;
      text-align: center;
      align-content: center;
      border-radius: 15px;
    }

    img {
      height: 140px;
      width: 100px;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
    }

    .logo-container {
      width: 7rem;
      height: 7rem;
      display: inline-block;
    }

    .logo-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

/*

PAGE 4

*/

.show-partyList {
  width: 90vw;
  margin: auto;

  .card {
    padding: 30px;
  }

  .two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .left {
      .header {
        font-size: 2rem;
      }

      .partyName {
        font-size: 1.5rem;
      }

      .party-logo {
        max-width: 30%;
        max-height: 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 100%;
      }

      .head-logo {
        height: 24.5rem;
        object-fit: contain;
        align-items: center;
      }

      .score {
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

        .row-score {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .header {
            font-size: 1.3rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  .candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1rem;
    background: #ffffff37;
    gap: 2rem;

    .number {
      background: #00000038;
      height: 60px;
      width: 2.5rem;
      text-align: center;
      align-content: center;
      border-radius: 15px;
    }

    img {
      height: 140px;
      width: 100px;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
    }

    .icon-pass {
      font-size: 50px;
      width: 48px;
      height: 48px;
      color: #2ed47e;
    }

    .icon-unPass {
      font-size: 50px;
      width: 48px;
      height: 48px;
      color: #d42e2e;
    }
  }


}

/*

PAGE 6

*/

.show-province-all {
  width: 90vw;
  height: 85vh;
  margin: auto;
  position: relative;

  .card {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    font-size: 2rem;
  }

  .three-column-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    gap: 1rem;
    flex: 1;
    height: 100%;
  }

  .column {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  /*column 1*/
  .region-tabs {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-direction: column;

  }

  .region-tab {
    padding: 0.5rem 1rem;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    user-select: none;
  }

  .region-tab:hover,
  .region-tab.active {
    opacity: 1;
    background: #555;
  }

  /*column 2*/
  .svg-container {
    flex: 1; // เต็มพื้นที่ column
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); // debug background
    border-radius: 5px;
    overflow: hidden;
    margin: 0; // reset margin
    padding: 30px
  }

  .region-map-wrapper {
    display: flex;
    justify-content: center; // อยู่ตรงกลางแนวนอน
    align-items: center; // อยู่ตรงกลางแนวตั้ง
    width: 100%;
    height: 100%;
    position: relative;

    // ทำให้ SVG responsive
    max-width: 100%;
    max-height: 100%;

    // Center SVG content
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto; // ตรงกลาง SVG
      
    }
  }

  /*column 3*/

  // คลิก เขต
  .province {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .header-table {
    color: #ffffff8e;
    display: flex;
    justify-content: space-between;
  }

  // คลิก จังหวัด
  .tabs {
    display: flex;

    .tab-button {
      flex: 1;
      padding: 0.2rem 1rem;
      background: #333;
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s;
    }

    .tab-button.active,
    .tab-button:hover {
      opacity: 1;
      background: #555;
    }

    .tab-content {
      flex: 1;
      overflow-y: auto;
      padding-right: 10px;
    }

  }

  // .scroll-container {
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   height: 65vh;
  //   // width:100%;

  //   /* ซ่อน scrollbar ทุกเบราว์เซอร์ */
  //   scrollbar-width: none;
  //   /* Firefox */
  //   -ms-overflow-style: none;
  //   /* IE & Edge */
  // }

  // .scroll-container::-webkit-scrollbar {
  //   display: none;
  //   /* Chrome, Safari, Opera */
  // }

  .candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1rem;
    background: #ffffff37;
    gap: 2rem;

    .no {
      border: #ccc 1px solid;
      border-radius: 30px;
      padding: 0px 6px;
      margin-right: 4px;
    }

    .number {
      background: #000;
      height: 3rem;
      width: 2rem;
      text-align: center;
      align-content: center;
      border-radius: 8px;
      font-size: 1.5rem;
    }

    img {
      height: 100px;
      width: 60px;
      object-fit: cover;
      object-position: top;
      border-radius: 15px;
    }

    .logo-container {
      width: 7rem;
      height: 7rem;
      display: inline-block;
    }

    .logo-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}


.scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  // width:100%;

  /* ซ่อน scrollbar ทุกเบราว์เซอร์ */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}



// import

.electionBox {
  position: absolute;
  width: 130px;
}

.electionBox:before {
  content: "";
  display: block
}

.electionBox div,
.electionBox img {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: contain
}

.electionBox.animated-true .BoxImage_paperTop_p img {
  animation-name: votingBoxPaperTop;
  animation-duration: 2s;
  animation-iteration-count: infinite
}

.electionBox.animated-true .base img {
  animation-name: votingBoxBottom;
  animation-duration: 2s;
  animation-iteration-count: infinite
}

.electionBox.animated-true .top img {
  animation-name: votingBoxTop;
  animation-duration: 2s;
  animation-iteration-count: infinite
}

@keyframes votingBoxPaperTop {
  0% {
    transform: translate(0)
  }

  30% {
    transform: translateY(-30%) rotate(-30deg)
  }

  40% {
    transform: translateY(20%)
  }

  50% {
    transform: translate(0)
  }

  to {
    transform: translate(0)
  }
}

@keyframes votingBoxTop {
  0% {
    transform: translate(0)
  }

  30% {
    transform: translateY(-10%) rotate(-10deg)
  }

  40% {
    transform: translateY(2%)
  }

  60% {
    transform: translate(0)
  }

  to {
    transform: translate(0)
  }
}

@keyframes votingBoxBottom {
  0% {
    transform: translate(0)
  }

  30% {
    transform: translateY(20%) rotate(15deg)
  }

  42% {
    transform: translateY(-2%)
  }

  80% {
    transform: translate(0)
  }

  to {
    transform: translate(0)
  }
}


.CampaignTitle {
  display: flex;
  font-size: 1vw;
  align-items: center;
  gap: 1rem;
}

.CampaignTitle .ln {
  display: flex;
  align-items: center;
  gap: .25em
}

.CampaignTitle .texts {
  font-size: 1.5em;
  color: white !important;
}

.CampaignTitle .pfx1 {
  background-color: #63e6ab;
  color: white;
  font-size: .9em;
  border-radius: 2rem
}

.CampaignTitle .do,
.CampaignTitle .pfx1 {
  padding-left: .5em;
  padding-right: .5em;
  font-weight: 900
}

.CampaignTitle .do {
  font-size: 1.3em;
  position: relative;
  line-height: 1em
}

.CampaignTitle .do:before {
  position: absolute;
  width: 100%;
  height: 250%;
  display: block;
  content: "";
  border: 1px solid #63e6ab;
  left: 45%;
  border-radius: 50%;
  top: 80%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-21deg)
}

.CampaignTitle .electionBoxContainer {
  transform: translate(0) scale(1.2);
  height: 8em;
  position: relative;
  z-index: 1000;
}

.CampaignTitle .electionBox,
.CampaignTitle .electionBoxContainer {
  width: 8em
}

.CampaignTitle .number {
  font-size: 2em;
  line-height: 1em;
  margin-top: -.08em;
  position: relative
}