<!-- PAGE 1 : main -->
<!-- <div *ngIf="selectedParty === '' && selectedDistric === '' && selectedProvince === '' && selectedPartyListAndZoneSeat === '' "> -->
<!-- <div *ngIf="getCurrentPage('main') "> -->
<div [ngClass]="{ 'd-none': !currentIsMain }">
    <div class="row h-100 align-items-stretch">
        <div class="col-12 d-flex" [ngClass]="show_dashboard_score_and_seat_Panel ? 'col-md-7' : 'col-md-12'">
            <div class="glass-card flex-fill" style="height: auto;">
                <div class="button-container" [hidden]="!isDesktopOnly() && !isIpad">
                    <button class="btn-change" (click)="changeSvg('dashboard')" style="width: 52px;"
                        [class.active]="selectDashboard === 'dashboard'">
                        <div class="icon-text-container">
                            <mat-icon style="width: 24px; height: 24px; margin-left: 3px;">event_seat</mat-icon>
                            <span style="margin-left: 3px;">ที่นั่ง</span>
                        </div>
                    </button>
                    <button class="btn-change" (click)="changeSvg('dashboard_2')"
                        [class.active]="selectDashboard === 'dashboard_2'">
                        <div class="icon-text-container">
                            <img src="/assets/thai_mini.svg" alt="Country" class="change-icon"
                                style="width: 24px; height: 24px;" />
                            <span>แผนที่</span>
                        </div>
                    </button>
                </div>
                <div [hidden]="isDesktopOnly()" class="mobile-filter" [class.ipad-filter]="isIpad">
                    <!-- ค้นหาจังหวัด -->
                    <div class="filter-row d-flex">
                        <!-- จังหวัด -->
                        <div class="flex-fill">
                            <!-- <label class="form-label">ค้นหาจังหวัดเพื่อดูข้อมูล :</label> -->
                            <mat-form-field appearance="outline" class="w-100 white-input">
                                <mat-label>ค้นหาจังหวัด</mat-label>
                                <input type="text" matInput [formControl]="provinceCtrl_Specific"
                                    [matAutocomplete]="autoProvinceSpecific" (focus)="openProvincePanel_Specific()"
                                    (click)="openProvincePanel_Specific()" #specificTrig="matAutocompleteTrigger"
                                    matAutocompleteTrigger />

                                <mat-autocomplete #autoProvinceSpecific="matAutocomplete"
                                    (optionSelected)="onProvinceSelected_Specific($event)">
                                    <mat-option *ngFor="let p of filteredProvinces_Specific | async"
                                        [value]="p.provinceName">
                                        {{ p.provinceName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- <div class="banner-left-container"
                    [ngClass]="selectDashboard === 'dashboard_2' ? 'dashboard2' : 'dashboard1'">
                    <img *ngFor="let img of bannerLeftImages" [src]="img" class="logo-image" alt="Logo" />
                </div>
                <div class="banner-right-container"
                    [ngClass]="selectDashboard === 'dashboard_2' ? 'dashboard2' : 'dashboard1'">
                    <img *ngFor="let img of bannerRigthtImages" [src]="img" class="logo-image" alt="Logo" />
                </div>
                <div class="banner-container"
                    [ngClass]="selectDashboard === 'dashboard_2' ? 'dashboard2' : 'dashboard1'">

                    <div class="marquee-wrapper">
                        <div class="marquee-content marquee-3x">
                            <img *ngFor="let img of bannerImages" [src]="img" class="logo-image_2" alt="Logo" />
                            <img *ngFor="let img of bannerImages" [src]="img" class="logo-image_2" alt="Logo" />
                            <img *ngFor="let img of bannerImages" [src]="img" class="logo-image_2" alt="Logo" />
                        </div>
                    </div>
                </div> -->
                <div class="svg-container" [hidden]="selectDashboard !== 'dashboard' || (!isDesktopOnly() && isMobile)"
                    #svgContainer (mousemove)="onSvgMouseMove($event)" (pointerup)="onSvgSelect($event)">
                    <div class="thailand-map-wrapper">
                        <div #svgContainerAll [innerHTML]="svgContent"></div>
                    </div>
                </div>

                <div *ngIf="selectDashboard === 'dashboard_2'">
                    <app-dashboard-v2 (partySelected)="onPartySelected($event)"></app-dashboard-v2>
                </div>
            </div>
        </div>

        <!-- Toggle Button -->
        <button class="toggle-panel-btn" (click)="toggleScorePanel()" [hidden]="!isDesktopOnly()">
            <mat-icon>
                {{ show_dashboard_score_and_seat_Panel ? 'chevron_right' : 'chevron_left' }}
            </mat-icon>
        </button>


        <div class="col-12 col-md-5 d-flex" [ngClass]="{ 'd-none': !show_dashboard_score_and_seat_Panel }">
            <!-- <div class="col-12 col-md-5 d-flex" *ngIf="show_dashboard_score_and_seat_Panel"> -->
            <div class="glass-card flex-fill">
                <app-dashboard-score-and-seat (partySelected)="onPartySelected($event)"
                    (partyListAndPartyZone)="onClickPartyListAndPartyZone($event, '')"></app-dashboard-score-and-seat>
            </div>
        </div>

    </div>

    <!-- MAGNIFIER -->
    <div class="magnifier" #magnifier [hidden]="!magnifierVisible"
        [ngStyle]="{ 'top': magnifierY + 'px', 'left': magnifierX + 'px' }"></div>

    <!-- TOOLTIP -->
    <div class="svg-tooltip" *ngIf="tooltipVisible" [ngStyle]="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
        <div class="tooltip-content">
            <div class="tooltip-text">
                <p>{{ tooltipText }}</p>
                <div class="tooltip-subtext">
                    <!-- แบบมีสี -->
                    <div *ngFor="let candidate of detailDistrictTop3; let index = index"
                        [style.background]="getColor(candidate.party_name)"
                        style="padding: 5px; border-radius: 5px; margin: 2px; color: white;">
                        <div style="margin-left: 5px; margin-right: 10px; font-size: 20px; font-weight: 700;">
                            {{index + 1}}
                        </div>
                        <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : '/background/user_avatar.png'"
                            alt="avatarURL">
                        <div>
                            <p style="font-weight: 600;">{{ candidate.party_name }}</p>
                            <p>{{ candidate.fullname }}</p>
                            <p>คะแนน: {{ candidate.totalVotes | number }}</p>
                        </div>
                    </div>
                    <!-- แบบไม่มีสี -->
                    <!-- <div *ngFor="let candidate of detailDistrictTop3;">
                        <img [src]=" candidate.avatarURL !=='-' ? candidate.avatarURL : '/background/user_avatar.png'"
                            (error)=" onImgError($event)" alt="avatarURL">
                        <div>
                            <p style="font-weight: 600;">{{ candidate.party_name }}</p>
                            <p>{{ candidate.fullname }}</p>
                            <p>คะแนน: {{ candidate.totalVotes | number }}</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE 2 : show-dashboard-party -->
<!-- <div *ngIf="selectedParty !== '' " style="position: relative;"> -->
<!-- <div *ngIf="getCurrentPage('show-dashboard-party') " class="page-container"> -->

<div *ngIf="currentIsShowParty" class="party-page">
    <button class="ds-Button" (click)="closeDialog()">X</button>

    <div class="party-page__row" *ngIf="isDesktopOnly(); else mobileLayout">
        <!-- LEFT -->
        <div class="party-page__col party-page__col--left">
            <div class="party-card party-card--left" [style.color]="getColor(selectedParty)">
                <div class="party-card__rank-row">
                    <div class="party-card__text-left">
                        <p class="rank">อันดับ {{ ranking }}</p>
                        <p class="party-name">{{ selectedParty }}</p>
                    </div>

                    <div class="party-card__text-right">
                        <p class="seats">{{ totalSeats }}</p>
                        <p class="seats-label">ที่นั่ง</p>
                    </div>
                </div>

                <div class="party-card__head-container">
                    <img [src]="getUrlHead(selectedParty)" *ngIf="getUrlHead(selectedParty) !== '-'" alt="Head Logo"
                        class="party-card__head" />
                    <img [src]="getUrlParty(selectedParty)" *ngIf="getUrlHead(selectedParty) ==='-'" alt="Head Logo"
                        class="party-card__logo" />
                </div>
            </div>
        </div>

        <!-- MIDDLE -->
        <div class="party-page__col party-page__col--mid">
            <div class="party-card party-card--mid">
                <div class="party-mid__center">
                    <p class="zone-label">สส. เขต</p>
                    <p class="zone-seats" (click)="onClickPartyListAndPartyZone(selectedParty, '')">
                        {{ zoneSeats }}
                    </p>
                    <p class="zone-total">จากผู้สมัครจำนวน {{ zoneSeatsAll }} คน</p>
                </div>
            </div>

            <div class="party-card party-card--mid party-mid--bottom">
                <div>
                    <div class="party-mid__center">
                        <p class="party-list-label">สส. บัญชีรายชื่อ</p>
                        <p class="party-list-seats" (click)="onClickPartyListAndPartyZone(selectedParty, 'partyList')">
                            {{ partylistSeats }}
                        </p>
                        <p class="party-list-total">จากผู้สมัครจำนวน {{ partylistSeatsAll }} คน</p>
                    </div>

                    <div class="party-dots">
                        <span class="party-dots__dot" *ngFor="let i of getPartylistSeatsArray()"
                            [style.background-color]="getColor(selectedParty)"></span>
                    </div>
                </div>

                <p class="total-votes">({{ formatTotalVotes(totalVote) }} คะแนน)</p>
            </div>

        </div>
        <div class="party-page__col party-page__col--map">
            <div class="party-card party-card--map">
                <div class="party-map" #svgContainer (click)="onSvgClick($event)">
                    <div [innerHTML]="svgContent"></div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #mobileLayout>
        <div class="party-page__col party-page__col--top">
            <div class="party-card party-card--top" [style.color]="getColor(selectedParty)">
                <div class="party-card__text-left">
                    <div class="row1">
                        <div class="left">
                            <p class="rank">อันดับ {{ ranking }}</p>
                            <p class="party-name">{{ selectedParty }}</p>
                        </div>
                        <div class="right">
                            <p class="seats">{{ totalSeats }}</p>
                            <p class="seats-label">ที่นั่ง</p>
                        </div>
                    </div>
                    <div class="zone-party" [style.background]="getColor(selectedParty)">
                        <div class="row2">
                            <p class="zone-label" (click)="onClickPartyListAndPartyZone(selectedParty, '')">สส. เขต
                                <span> {{ zoneSeats }}</span> ที่นั่ง
                            </p>
                        </div>
                        <div class="row2">
                            <p class="zone-label" (click)="onClickPartyListAndPartyZone(selectedParty, 'partyList')">
                                สส. บัญชีรายชื่อ <span> {{ partylistSeats }}</span> ที่นั่ง</p>
                        </div>
                    </div>
                </div>

                <div class="party-card__container">
                    <img [src]="getUrlHead(selectedParty)" *ngIf="getUrlHead(selectedParty) !== '-'" alt="Head Logo"
                        class="party-card__head" />
                    <img [src]="getUrlParty(selectedParty)" *ngIf="getUrlHead(selectedParty) === '-'" alt="Head Logo"
                        class="party-card__logo" />
                </div>
            </div>
        </div>
        <div class="party-page__col party-page__col--map">
            <div class="party-card party-card--map">
                <div class="party-map" #svgContainer (click)="onSvgClick($event)">
                    <div [innerHTML]="svgContent"></div>
                </div>
            </div>
        </div>
    </ng-template>
</div>


<!-- PAGE 6 : show-Province ALL (Zone / Party) -->
<!-- <div *ngIf="selectedProvince !== '' || selectedDistric !== ''" style="position: relative;" class="show-province-all"> -->
<!-- <div *ngIf="getCurrentPage('show-province-all')" style="position: relative;" class="show-province-all"> -->
<div *ngIf="currentIsShowProvinceAll" style="position: relative;" class="show-province-all">
    <button class="ds-Button" (click)="closeDialog()">X</button>

    <div class="glass-card card" style="color: white;">
        <div class="three-column-grid" [class.desktop]="isDesktopOnly()">
            <div class="column" *ngIf="isDesktopOnly();">
                <div class="region-tabs">
                    <p class="region-tab" *ngFor="let region of regionList" [class.active]="selectedRegion === region"
                        (click)="onRegionSelect(region)">
                        {{ region }}
                    </p>
                </div>


            </div>
            <div class="column svg-column">
                <div class="hint" *ngIf="isDesktopOnly();"> <mat-icon>pinch_zoom_out</mat-icon>ลาก ซูม แตะ เพื่อเลือกเขต
                </div>
                <div class="reset-btn" (click)="resetZoom()" *ngIf="isDesktopOnly();">
                    <mat-icon>restart_alt</mat-icon>
                </div>
                <div class="svg-container" (click)="onSvgClickRegion($event)" (pointerup)="onSvgPointerUp($event)"
                    [ngStyle]="{ 'overflow-y': isDesktopOnly() ? 'auto' : 'hidden' }">

                    <div class="region-map-wrapper">
                        <div #svgContainerRegion [innerHTML]="svgContentRegion"></div>
                    </div>
                </div>
            </div>

            <div class="column">
                <!-- เลือกจังหวัด / เลือกภาค-->
                <div *ngIf="selectedProvince !== ''">
                    <div class="tabs">
                        <button class="tab-button" [class.active]="activeTab === 'district'"
                            (click)="changeTab('district')">
                            สส.  เขต
                        </button>
                        <button class="tab-button" [class.active]="activeTab === 'partyList'"
                            (click)="changeTab('partyList')">
                            บัญชีรายชื่อ
                        </button>
                    </div>
                    <div class="tab-content" style="margin-top: 20px;">
                        <div *ngIf=" activeTab==='district'">
                            <!-- CLICK REGION -->
                            <div *ngIf="detailWinnerZonePerRegion?.length > 0; else showZoneData" #scrollContainer
                                class="scroll-container-dt70vh">
                                <div *ngFor="let district of detailWinnerZonePerRegion; let i = index"
                                    class="candidate-item"
                                    [style.background]="getColor2tone(district.candidates[0]?.party_name, district.candidates[1]?.party_name)">
                                    <div style="width: 100%;">
                                        <p class="provinceName-zone" (click)="onClickDistrict(district.districtId)"> {{
                                            district.province }}
                                            เขต {{ district.zone }}
                                        </p>

                                        <div class="battle-container">

                                            <div *ngFor="let candidate of district.candidates; let i = index"
                                                class="candidate-row" [ngClass]="{ 'right': i % 2 === 1 }" [ngStyle]="i === 0 ? {
                                                            'margin-bottom': '40px',
                                                        } : {}">

                                                <p class="number" [style.background]="getColor(candidate.party_name)">
                                                    {{ i + 1 }}
                                                </p>

                                                <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : '/background/user_avatar.png'"
                                                    (error)="onImgError($event)" alt="avatarURL">

                                                <div class="info">
                                                    <p class="fullname">{{ candidate.fullname }}</p>
                                                    <p class="no-partyName">
                                                        <span class="no">เบอร์ {{candidate.no}}</span>
                                                        {{candidate.party_name}}
                                                    </p>
                                                    <p>
                                                        <span class="score-highlight" *ngIf="i === 0"
                                                            [style.background]="getColor(candidate.party_name)">
                                                            คะแนน: {{ candidate.totalVotes | number }}
                                                        </span>

                                                        <span *ngIf="i !== 0">
                                                            คะแนน: {{ candidate.totalVotes | number }}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- VS กลาง -->
                                            <div class="vs-center">VS</div>

                                        </div>
                                    </div>
                                </div>
                                <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                    (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                    <mat-icon
                                        style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                </div>
                            </div>
                            <!-- CLICK PROVINCE -->
                            <ng-template #showZoneData>
                                <div #scrollContainer class="scroll-container-dtprovince">
                                    <div *ngFor="let district of detailWinnerZonePerProvince; let i = index"
                                        class="candidate-item"
                                        [style.background]="getColor2tone(district.candidates[0]?.party_name, district.candidates[1]?.party_name)">
                                        <div style="width: 100%;">
                                            <p class="provinceName-zone" (click)="onClickDistrict(district.districtId)">
                                                {{ district.province
                                                }} เขต {{ district.zone}}
                                            </p>
                                            <div class="battle-container">

                                                <!-- ผู้สมัครคนที่ 1 -->
                                                <div *ngFor="let candidate of district.candidates; let i = index"
                                                    class="candidate-row" [ngClass]="{ 'right': i % 2 === 1 }"
                                                    [ngStyle]="i === 0 ? {
                                                            'margin-bottom': '40px',
                                                        } : {}">

                                                    <p class="number"
                                                        [style.background]="getColor(candidate.party_name)">
                                                        {{ i + 1 }}
                                                    </p>

                                                    <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : '/background/user_avatar.png'"
                                                        (error)="onImgError($event)" alt="avatarURL">

                                                    <div class="info">
                                                        <p class="fullname">{{ candidate.fullname }}</p>
                                                        <p class="no-partyName">

                                                            <span class="no">เบอร์ {{candidate.no}}</span>
                                                            {{candidate.party_name}}
                                                        </p>
                                                        <p class="score">
                                                            <span class="score-highlight" *ngIf="i === 0"
                                                                [style.background]="getColor(candidate.party_name)">
                                                                คะแนน: {{ candidate.totalVotes | number }}
                                                            </span>

                                                            <span *ngIf="i !== 0">
                                                                คะแนน: {{ candidate.totalVotes | number }}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <!-- VS กลาง -->
                                                <div class="vs-center">VS</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                        (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                        <mat-icon
                                            style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                    </div>
                                </div>
                            </ng-template>
                        </div>

                        <div *ngIf="activeTab === 'partyList'">
                            <!-- CLICK REGION -->
                            <div *ngIf="detailWinnerPartyPerRegion?.length > 0; else showPartyListData" #scrollContainer
                                class="scroll-container-dt70vh">
                                <div *ngFor="let district of detailWinnerPartyPerRegion" class="candidate-item">
                                    <div>
                                        <p style="font-size: 1rem;" (click)="onClickDistrict(district.districtId)">
                                            {{district.Province}} เขต {{ district.areaNo }}
                                        </p>

                                        <div *ngFor="let party of district.parties; let i = index"
                                            style="display: flex; align-items: center; gap: 1rem; margin: .5rem;">
                                            <p class="number" [style.background]="getColor(party.partyName)">
                                                {{ i + 1 }}
                                            </p>

                                            <div class="logo-container">
                                                <img [src]="getUrlParty(party.partyName)"
                                                    *ngIf="getUrlParty(party.partyName)" alt="Party Logo"
                                                    class="logo-img">
                                                <img [src]="'background/default-logo.png'"
                                                    *ngIf="getUrlParty(party.partyName) === ''" alt="Head Logo"
                                                    class="logo-img">
                                            </div>
                                            <div>
                                                <p class="partyName">
                                                    {{ party.partyName || '-' }}
                                                </p>
                                                <p>
                                                    <span
                                                        [style.background]="i === 0 ? getColor(party.partyName) : null"
                                                        [ngStyle]="i === 0 ? {'font-weight': '700', 'font-size' : '1.5rem', 'color' : 'white', 'border-radius' : '10px', 'padding':'0px 10px', 'margin-right':'5px'} : {}">
                                                        คะแนน: {{ party.totalVote | number }}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ปุ่มเลื่อนขึ้นบน -->
                                <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                    (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                    <mat-icon
                                        style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                </div>
                            </div>
                            <!-- CLICK PROVINCE -->
                            <ng-template #showPartyListData>
                                <div #scrollContainer class="scroll-container-dt70vh">
                                    <div *ngFor="let district of detailWinnerPartyPerProvince" class="candidate-item">
                                        <div style="width: 100%;">
                                            <p style="font-size: 1rem; cursor: pointer;"
                                                (click)="onClickDistrict(district.districtId)">
                                                <!-- <p style="font-size: 1rem; cursor: pointer;"> -->
                                                {{district.Province}} เขต {{ district.areaNo }}
                                            </p>

                                            <div *ngFor="let party of district.parties; let i = index"
                                                style="display: flex; align-items: center; gap: 1rem; margin: .5rem; width: 100%;">
                                                <p class="number" [style.background]="getColor(party.partyName)">
                                                    {{ i + 1 }}
                                                </p>

                                                <div class="logo-container">
                                                    <img [src]="getUrlParty(party.partyName)"
                                                        *ngIf="getUrlParty(party.partyName)" alt="Party Logo"
                                                        class="logo-img">
                                                    <img [src]="'background/default-logo.png'"
                                                        *ngIf="getUrlParty(party.partyName) === ''" alt="Head Logo"
                                                        class="logo-img">
                                                </div>
                                                <div>
                                                    <p class="partyName">
                                                        {{ party.partyName || '-' }}
                                                    </p>
                                                    <p
                                                        style="display: flex; flex-wrap: wrap; gap: 6px; align-items: center;">
                                                        <span class="score-badge" [class.winner]="i === 0"
                                                            [style.background]="i === 0 ? getColor(party.partyName) : null">
                                                            <!-- [ngStyle]="i === 0 ? {'font-weight': '700', 'font-size' : '1.5rem', 'color' : 'white', 'border-radius' : '10px', 'padding':'0px 10px', 'margin-right':'5px'} : {}" -->
                                                            คะแนน: {{ party.totalVote | number }}
                                                        </span>
                                                        <span style="font-weight: 300; color: rgb(199, 199, 199);"
                                                            class="percent"
                                                            [class.winner]="i === 0">({{party.vote_percentage}}
                                                            %)</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ปุ่มเลื่อนขึ้นบน -->
                                    <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                        (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                        <mat-icon
                                            style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </div>
                <!-- เลือกเขต -->
                <span class="loader" *ngIf="loading"></span>
                <div *ngIf="selectedDistric !== '' && selectedProvince === '' && !loading" class="district-detail">
                    <div class="tabs">
                        <button class="tab-button" [class.active]="activeTab === 'district'"
                            (click)="changeTab('district')">
                            สส.  เขต
                        </button>
                        <button class="tab-button" [class.active]="activeTab === 'partyList'"
                            (click)="changeTab('partyList')">
                            บัญชีรายชื่อ
                        </button>
                    </div>
                    <div class="tab-content" style="margin-top: 20px;">
                        <div *ngIf=" activeTab==='district'">
                            <div class="provinceName-zone">
                                <div>
                                    <p>{{provinceName || ""}} เขต {{zoneName || ""}}</p>
                                </div>
                            </div>
                            <div class="header-table">
                                <p style="align-self: end;"> อันดับ</p>
                                <div style=" text-align: end;">
                                    <p class="count-percent">
                                        จำนวนหน่วยที่นับไปแล้ว : {{progress}} %
                                    </p>
                                    <p class="count-total">จำนวนผู้มาใช้สิทธิ์ทั้งหมด :
                                        <span style="font-size: 1rem; font-weight: 500; color: #ffffff;">
                                            {{formatTotalVotes(totalvoteZone)}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div #scrollContainer class="scroll-container-detail">
                                <div *ngFor="let candidate of detailWinnerZonePerDistrict; let i = index"
                                    class="candidate-item"
                                    [style.background]="i === 0 && getColor2Shade(candidate.party_name)">

                                    <p class="number" [style.background]="getColor(candidate.party_name)">{{ i + 1 }}
                                    </p>
                                    <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : '/background/user_avatar.png'"
                                        (error)="onImgError($event)" alt="avatarURL">
                                    <div>
                                        <p class="fullname">{{ candidate.fullname }}</p>
                                        <p class="no-partyName">
                                            <span class="no">เบอร์ {{candidate.no}}</span> {{
                                            candidate.party_name }}
                                        </p>
                                        <p>
                                            <span [style.background]="i === 0 ? getColor(candidate.party_name) : null"
                                                class="score" [class.winner]="i === 0">
                                                คะแนน: {{ candidate.totalVotes | number }}
                                            </span>
                                            <span class="percentage">
                                                (
                                                {{
                                                candidate.vote_percentage}}% )</span>
                                        </p>
                                    </div>
                                </div>
                                <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                    (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                    <mat-icon
                                        style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="activeTab === 'partyList'">
                            <div class="provinceName-zone">
                                <div>
                                    <p>{{provinceName || ""}} เขต {{zoneName || ""}}</p>
                                </div>
                            </div>
                            <div class="header-table">
                                <p style="align-self: end;"> อันดับ</p>
                                <div style="text-align: end;">
                                    <p class="count-percent">จำนวนหน่วยที่นับไปแล้ว :
                                        {{progress_party}} %
                                    </p>
                                    <p class="count-total">จำนวนผู้มาใช้สิทธิ์ทั้งหมด :
                                        <span style="font-size: 1rem; font-weight: 500; color: #ffffff;">
                                            {{formatTotalVotes(totalvoteZone_party)}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div #scrollContainer class="scroll-container-detail">
                                <div *ngFor="let party of  detailWinnerPartyPerDistrict; let i = index"
                                    class="candidate-item">
                                    <p class="number" [style.background]="getColor(party.partyName)">{{ i + 1 }}</p>
                                    <div class="logo-container">
                                        <img [src]="getUrlParty(party.partyName)" *ngIf="getUrlParty(party.partyName)"
                                            alt="Party Logo" class="logo-img">
                                        <img [src]="'background/default-logo.png'"
                                            *ngIf="getUrlParty(party.partyName) === ''" alt="Head Logo"
                                            class="logo-img">
                                    </div>
                                    <div>
                                        <p class="partyName">{{ party.partyName }} </p>
                                        <div class="score">
                                            <p>คะแนน: {{ party.totalVote | number }}
                                                <span class="percentage">(
                                                    {{party.vote_percentage}}% )</span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                    (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                                    <mat-icon
                                        style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- PAGE 7 : แสดงสส. เขต และ บัญชีรายชื่อ ของ 1 พรรค | show-party-list & show-district-per-party -->
<!-- <div *ngIf="selectedPartyListAndZoneSeat !== '' " style="position: relative;" class="show-partyList-ZoneSeat"> -->
<!-- <div *ngIf="getCurrentPage('show-party-list_&_show-district-per-party') " class="show-partyList-ZoneSeat"> -->
<div *ngIf="currentIsShowPartylistAndDistrictPerParty" class="show-partyList-ZoneSeat">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <div class="column-grid">
            <div class="left"
                style="display: flex; justify-content: space-between; flex-direction: column; margin-top: 10px;">
                <div>
                    <div>
                        <div class="partyName">{{partySeatCounts.partyName}}
                        </div>
                        <span class="no" style=" font-size: clamp(0.5rem, 1vw, 0.8rem); color: #ffffff;"> เบอร์
                            {{getNo(partySeatCounts.partyName)}}</span>
                    </div>
                    <div [style.background-color]="getColor(partySeatCounts.partyName)" class="score"
                        style="margin-top: clamp(10px, .7vw, 15px);">
                        <div class="row-score" style="background-color: #fffffff4; border-radius: 1rem 1rem 0rem 0rem;"
                            [style.color]="getColor(partySeatCounts.partyName)">
                            <p class="header">สส.  เขต</p>
                            <div style="text-align: end;">
                                <p style="font-size: clamp(1rem, 1.4vw, 1.6rem); font-weight: 600; ">
                                    {{partySeatCounts.zone_seats}}
                                    <span style="font-size: 1rem; font-weight: 300;"> ที่นั่ง</span>
                                <p style="font-size: clamp(0.8rem, 1vw, 1.2rem); font-weight: 300;">
                                    {{formatTotalVotes(totalVoteZoneSeat)}}
                                    คะแนน
                                </p>
                            </div>
                        </div>
                        <hr style="margin: 0;">
                        <div class="row-score" style="background-color: #fffffff4;"
                            [style.color]="getColor(partySeatCounts.partyName)">
                            <p class="header">สส.  บัญชีรายชื่อ</p>
                            <div style="text-align: end;">
                                <p style="font-size: clamp(1rem, 1.4vw, 1.6rem); font-weight: 600;">
                                    {{partySeatCounts.partylist_seats}}
                                    <span style="font-size: 1rem; font-weight: 300;"> ที่นั่ง</span>
                                </p>
                                <p style="font-size: clamp(0.8rem, 1vw, 1.2rem); font-weight: 300;">
                                    {{formatTotalVotes(partySeatCounts.total_party_votes)}}
                                    คะแนน
                                </p>
                            </div>
                        </div>
                        <div class="row-score">
                            <p class="header">สส.  ทั้งหมด</p>
                            <p style="font-size: clamp(1rem, 1.4vw, 1.6rem); font-weight: 600;">
                                {{partySeatCounts.zone_seats +
                                partySeatCounts.partylist_seats}}
                                <span style="font-size: clamp(0.8rem, 1vw, 1.2rem); font-weight: 300;"> ที่นั่ง</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="head-logo-container">
                    <img [src]="getUrlHead(partySeatCounts.partyName)"
                        *ngIf="getUrlHead(partySeatCounts.partyName) !=='-'" alt="Head Logo" class="head-logo">
                    <img [src]="getUrlParty(partySeatCounts.partyName)"
                        *ngIf="getUrlHead(partySeatCounts.partyName) ==='-'" alt="party Logo" class="party-logo" />
                </div>
                <!-- <div style="display: flex; justify-content: center; position: relative;">
                    <img [src]="getUrlHead(partySeatCounts.partyName)" *ngIf="getUrlHead(partySeatCounts.partyName)"
                        alt="Head Logo" class="head-logo">
                    <div class="party-logo-wrapper">
                        <img [src]="getUrlParty(partySeatCounts.partyName)"
                            *ngIf="getUrlParty(partySeatCounts.partyName) !== ''" alt="Party Logo" class="party-logo">
                    </div>
                </div> -->
            </div>

            <div>
                <div class="tabs">
                    <button class="tab-button" [class.active]="activeTab === 'district'"
                        (click)="activeTab = 'district'">
                        สส.  เขต ({{detailWinnerZonePerParty.length}})
                    </button>
                    <button class="tab-button" [class.active]="activeTab === 'partyList'"
                        (click)="activeTab = 'partyList'">
                        คะแนนบัญชีรายชื่อ ({{partySeatCounts.partylist_seats}})
                    </button>
                </div>

                <div class="tab-content" style="margin-top: 20px;">
                    <div *ngIf="activeTab === 'district'">
                        <div style="position: relative;">
                            <div #partylistScroll class="scroll-container-detail-page7">
                                <div
                                    *ngIf="detailWinnerZonePerParty && detailWinnerZonePerParty.length > 0; else noSeat">
                                    <div *ngFor="let candidate of detailWinnerZonePerParty; let i = index"
                                        class="candidate-item">
                                        <p class="number">{{ i + 1 }}
                                        </p>
                                        <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : '/background/user_avatar.png'"
                                            (error)="onImgError($event)" alt="avatarURL">
                                        <div>
                                            <p class="fullname">{{ candidate.fullname }}</p>
                                            <p><span class="no">เบอร์ {{candidate.no}}</span>
                                                <span class="no-province"
                                                    (click)="onClickDistrict(candidate.districtId)">
                                                    {{ candidate.name }} {{candidate.areaNo}} </span>
                                            </p>
                                            <p class="score">คะแนน: {{ candidate.totalVotes
                                                |number }}
                                                <span class="vote-percentage">(คิดเป็น
                                                    {{candidate.vote_percentage}}%)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                        (click)="scrollToTopContainer('partylist')" matTooltip="เลื่อนไปด้านบน">
                                        <mat-icon
                                            style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                    </div>
                                </div>
                                <ng-template #noSeat>
                                    <p style="text-align: center; font-size: 1.4rem; color: #777;">0 ที่นั่ง</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div *ngIf=" activeTab==='partyList'">
                        <div style="position: relative;">
                            <div #zoneScroll class="scroll-container-detail-page7">
                                <div *ngFor="let candidate of detailPartyListPerPartyName; let i = index"
                                    class="candidate-item" style="justify-content: space-between;">
                                    <div class="party-list">
                                        <p class="number">{{ i + 1 }}</p>
                                        <img [src]="candidate.avatarURL !== '-' ? candidate.avatarURL : getUrlParty(candidate.PartyName)"
                                            (error)="onImgError($event)" alt="avatarURL">
                                        <p class="fullname">{{candidate.fullName }}</p>
                                    </div>
                                    <div>
                                        <ng-container *ngIf="i < partySeatCounts?.partylist_seats; else showDash">
                                            <mat-icon class="icon-pass">check_circle</mat-icon>
                                        </ng-container>
                                        <ng-template #showDash>
                                            <mat-icon class="icon-unPass">remove_circle_outline</mat-icon>
                                        </ng-template>
                                    </div>
                                </div>
                                <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                                    (click)="scrollToTopContainer('zone')" matTooltip="เลื่อนไปด้านบน">
                                    <mat-icon
                                        style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- PAGE 3 : show-distric -->
<!-- <div *ngIf="selectedDistric !== '' " style="position: relative;" class="show-distric">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <p class="province">{{detailDistrict[0].province || ""}}</p>
                <p class="zone">เขต {{detailDistrict[0].zone || ""}}</p>
            </div>
        </div>

        <div class="header-table">
            <p style="align-self: end;"> อันดับ</p>
            <div style="font-size: 1.1rem; text-align: end;">
                <p>จำนวนหน่วยที่นับไปแล้ว : {{detailDistrict[0].progress}} %</p>
                <p>นับคะแนนแล้ว : {{formatTotalVotes(detailDistrict[0].total_votes_in_area)}}</p>
            </div>
        </div>
        <hr>

        <div #scrollContainer class="scroll-container">
            <div *ngFor="let candidate of detailDistrict; let i = index" class="candidate-item">

                <p class="number" [style.background]="getColor(candidate.party_name)">{{ i + 1 }}</p>
                <img [src]="candidate.avatarURL" alt="Party Logo">
                <div>
                    <p style="font-size: 1.3rem;">{{ candidate.fullname }}</p>
                    <p style="font-weight: 300; color: rgb(199, 199, 199); padding-top: 5px; padding-bottom: 5px;"><span
                            class="no">เบอร์ {{candidate.no}}</span> {{
                        candidate.party_name }}</p>
                    <p [style.color]="i === 0 ? getColor(candidate.party_name) : null"
                        [ngStyle]="i === 0 ? {'font-weight': '700', 'font-size' : '1.5rem'} : {}">
                        คะแนน: {{ candidate.totalVotes | number }}
                        <span style="font-weight: 300; color: rgb(199, 199, 199); font-size:medium;"> ( {{
                            candidate.vote_percentage}}% )</span>
                    </p>
                </div>
            </div>
            <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                (click)="scrollToTopContainer()" matTooltip="เลื่อนไปด้านบน">
                <mat-icon
                    style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
            </div>
        </div>

    </div>
</div> -->

<!-- PAGE 4 : show-party-list -->
<!-- <div *ngIf="partyName !== ''" style="position: relative;" class="show-partyList">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <div class="two-column-grid">
            <div class="left" style="justify-content: space-between; display: flex; flex-direction: column; ">
                <div>
                    <div class="header">สส.  บัญชีรายชื่อ</div>
                    <div class="partyName">{{partySeatCounts.partyName}}</div>
                </div>
                <div>
                    <div style="display: flex; justify-content: center; position: relative;">
                        <img [src]="getUrlHead(partySeatCounts.partyName)" alt="Head Logo" class="head-logo">
                        <img [src]="getUrlParty(partySeatCounts.partyName)"
                            *ngIf="getUrlParty(partySeatCounts.partyName) !== ''" alt="Party Logo" class="party-logo">
                    </div>
                    <div [style.background-color]="getColor(partySeatCounts.partyName)" class="score">
                        <div class="row-score">
                            <p class="header">จำนวนสส.  บัญชีรายชื่อ</p>
                            <p style="font-size: 3rem; font-weight: 600;">{{partySeatCounts.partylist_seats}}
                            </p>
                        </div>
                        <hr>
                        <div class="row-score">
                            <p class="header">คะแนน</p>
                            <p style="font-size: 2rem;">{{formatTotalVotes(partySeatCounts.total_party_votes)}}
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    style="justify-content: end;display: flex; color: #ffffffc8; margin-right: 12px; font-size: 16px; ">
                    <mat-icon style="font-size: 16px; display: flex; align-items: center;">schedule</mat-icon>
                    อัพเดตล่าสุด ณ วันที่ &nbsp;<span class="ti_bf updateDate"></span>
                </div>
            </div>
            <div #scrollContainer class="scroll-container">
                <div *ngFor="let candidate of detailPartyListPerPartyName; let i = index" class="candidate-item">
                    <p class="number">{{ i + 1 }}</p>
                    <ng-container *ngIf="i < partySeatCounts?.partylist_seats; else showDash">
                        <mat-icon class="icon-pass">check_circle</mat-icon>
                    </ng-container>
                    <ng-template #showDash>
                        <mat-icon class="icon-unPass">remove_circle_outline</mat-icon>
                    </ng-template>
                    <img [src]="candidate.avatarURL" alt="Party Logo" loading="lazy">
                    <p style="font-size: 24px; color: #000;">{{candidate.fullName }}</p>
                </div>
            </div>
            <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                <mat-icon
                    style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
            </div>
        </div>
    </div>
</div> -->

<!-- PAGE 5 : show-distric-per-party -->
<!-- <div *ngIf="selectedZoneSeat !== ''" style="position: relative;" class="show-distric">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <p class="header">สส.  เขต</p>
        <p class="partyName">{{detailWinnerZonePerParty[0].partyName || ""}} ( {{detailWinnerZonePerParty.length}}
            ที่นั่ง ) </p>
        <hr>
        <div #scrollContainer class="scroll-container">
            <div *ngFor="let candidate of detailWinnerZonePerParty; let i = index" class="candidate-item">
                <p class="number" [style.background]="getColor(candidate.party_name)">{{ i + 1 }}</p>
                <img [src]="candidate.avatarURL" alt="Party Logo">
                <div>
                    <p style="font-size: 1.3rem;">{{ candidate.fullname }}</p>
                    <p style="font-weight: 300; color: rgb(199, 199, 199); cursor: pointer;"
                        (click)="onClickDistrict(candidate.districtId)">{{ candidate.name }}
                        {{candidate.areaNo}}</p>
                    <p>คะแนน: {{ candidate.totalVotes | number }}</p>
                </div>
            </div>
            <div style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
                (click)="scrollToTopContainer('')" matTooltip="เลื่อนไปด้านบน">
                <mat-icon
                    style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
            </div>
        </div>
    </div>
</div> -->