<!-- <div class="row">
    <div class="col-6">
        <app-dashboard-v2 *ngIf="selectedParty === '' "></app-dashboard-v2>
    </div>
    <div class="col-6">
        <app-dashboard-score-and-seat *ngIf="selectedParty === '' "></app-dashboard-score-and-seat>
    </div>

</div> -->
<!-- <div class="svg-container" *ngIf="selectedParty === '' " #svgContainer (mousemove)="onSvgHover($event)"
        (mouseleave)="hideTooltip()" (click)="onSvgClick($event)">
        <div [innerHTML]="svgContent"></div>
    </div> -->

<!-- PAGE 1 -->
<div *ngIf="selectedParty === '' && selectedDistric === '' && detailPartyListPerPartyName.length === 0">
    <div class="row">
        <div class="col-7">
            <div class="glass-card">
                <div class="button-container">
                    <button class="btn-change" (click)="changeSvg('dashboard')"
                        [class.active]="selectDashboard === 'dashboard'">
                        <div class="icon-text-container">
                            <mat-icon style="width: 24px; height: 24px;">event_seat</mat-icon>
                            <span>ที่นั่ง</span>
                        </div>
                    </button>
                    <button class="btn-change" (click)="changeSvg('dashboard_2')"
                        [class.active]="selectDashboard === 'dashboard_2'">
                        <div class="icon-text-container">
                            <img src="/assets/thai_mini.svg" alt="Country" class="change-icon"
                                style="width: 24px; height: 24px;" />
                            <span>แผนที่</span>
                        </div>
                    </button>
                </div>
                <!-- <div class="svg-container" *ngIf="selectDashboard === 'dashboard'" #svgContainer
                    (mousemove)="onSvgMouseMove($event)" (click)="onSvgClick($event)"> -->
                <div class="svg-container" [hidden]="selectDashboard !== 'dashboard'" #svgContainer
                    (mousemove)="onSvgMouseMove($event)">
                    <div class="thailand-map-wrapper">
                        <div [innerHTML]="svgContent"></div>
                    </div>
                </div>
                <div *ngIf="selectDashboard === 'dashboard_2'">
                    <app-dashboard-v2 (partySelected)="onPartySelected($event)"></app-dashboard-v2>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card-left glass-card">
                <app-dashboard-score-and-seat (partySelected)="onPartySelected($event)"
                    (partySelectedCandidate)="onpartySelectedCandidate($event)"></app-dashboard-score-and-seat>
            </div>
        </div>
    </div>

    <!-- MAGNIFIER -->
    <div class="magnifier" #magnifier [hidden]="!magnifierVisible"
        [ngStyle]="{ 'top': magnifierY + 'px', 'left': magnifierX + 'px' }"></div>

    <!-- TOOLTIP -->
    <div class="svg-tooltip" *ngIf="tooltipVisible" [ngStyle]="{ top: tooltipY + 'px', left: tooltipX + 'px' }">
        <div class="tooltip-content">
            <div class="tooltip-text">
                <p>{{ tooltipText }}</p>
                <div class="tooltip-subtext">
                    <div *ngFor="let candidate of detailDistrictTop3">
                        <!-- <img [src]="'/background/cat.png'" alt="{{ candidate.party_name }}" /> -->
                        <img [src]="candidate.avatarURL" alt="Party Logo">
                        <div>
                            <p>{{ candidate.party_name }}</p>
                            <p>{{ candidate.fullname }}</p>
                            <p>คะแนน: {{ candidate.totalVotes | number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE 2 -->
<div *ngIf="selectedParty !== '' " style="position: relative;">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="row">
        <div class="col-4">
            <div class="card-left glass-card" [style.color]="partyBackgroundColor">
                <div class="party-rank-row">
                    <div class="party-text-left">
                        <p style=" font-size:1.5dvw; font-weight: 500;">อันดับ</p>
                        <p style=" font-size:3.5dvw; font-weight: bold;">{{ ranking }}</p>
                        <p style=" font-size:1.5dvw; font-weight: 500;">{{ selectedParty }}</p>
                    </div>
                    <div class="party-text-right">
                        <p style=" font-size: 4.5dvw; font-weight: bold;">{{ totalSeats }}</p>
                        <p style=" font-size:1.5dvw; font-weight: 500;">/ 500 คน</p>

                    </div>
                </div>
                <img [src]="img_head" *ngIf="img_head" alt="Head Logo" class="head-logo">
                <img [src]="img_party" *ngIf="img_party" alt="Party Logo" class="party-logo">
            </div>
        </div>
        <div class="col-2" style="display: flex; flex-direction: column; gap: 1rem; ">
            <div class="card-m glass-card" style="height: 35%;">
                <div style="text-align: center;">
                    <p style=" font-size:1.5dvw; font-weight: 500;">ส.ส.เขต</p>
                    <p style=" font-size:3.5dvw; font-weight: bold;">{{zoneSeats}}</p>
                    <p style=" font-size:1.5dvw; font-weight: 500;">/ 400 คน</p>
                </div>
            </div>
            <div class="card-m glass-card"
                style="display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <div style="text-align: center;">
                        <p style=" font-size:1.5dvw; font-weight: 500;"> ส.ส.บัญชีรายชื่อ</p>
                        <p style=" font-size:3.5dvw; font-weight: bold;">{{partylistSeats}}</p>
                        <p style=" font-size:1.5dvw; font-weight: 500;">/ 100 คน</p>
                    </div>
                    <div class="orange-dots">
                        <span class="dot" *ngFor="let i of getPartylistSeatsArray()"
                            [style.background-color]="partyBackgroundColor"></span>
                    </div>
                </div>
                <p style="text-align: center;">({{ formatTotalVotes(totalVote) }} คะแนน)</p>
            </div>
        </div>
        <div class="col-6">
            <div class="glass-card">
                <!-- <div class="svg-container" #svgContainer (click)="onSvgClick($event)"> -->
                <div class="svg-container" #svgContainer>
                    <div [innerHTML]="svgContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE 3 -->
<div *ngIf="selectedDistric !== '' " style="position: relative;" class="show-distric">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <p class="province">{{detailDistrict[0].province}}</p>
        <p class="zone">เขต {{detailDistrict[0].zone}}</p>
        <div class="scroll-container">
            <div *ngFor="let candidate of detailDistrict; let i = index" class="candidate-item">
                <p class="number" [style.background]="getColor(candidate.party_name)">{{ i + 1 }}</p>
                <img [src]="candidate.avatarURL" alt="Party Logo">
                <div>
                    <p style="font-size: 1.3rem;">{{ candidate.fullname }}</p>
                    <p style="font-weight: 300; color: rgb(199, 199, 199);">{{ candidate.party_name }}</p>
                    <p>คะแนน: {{ candidate.totalVotes | number }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- PAGE 4 -->
<div *ngIf="detailPartyListPerPartyName.length > 0" style="position: relative;" class="show-partyList">
    <button class="ds-Button" (click)="closeDialog()">X</button>
    <div class="glass-card card" style="color: white;">
        <div class="two-column-grid">
            <div>
                {{partySeatCounts.partylist_seats}}
            </div>
            <div class="scroll-container">
                <div *ngFor="let candidate of detailPartyListPerPartyName; let i = index" class="candidate-item">
                    <p class="number">{{ i + 1 }}</p>
                    <ng-container *ngIf="i < partySeatCounts?.partylist_seats; else showDash">
                        <p><mat-icon class="icon">check_circle</mat-icon></p>
                    </ng-container>
                    <ng-template #showDash>
                        <p class="icon"></p>
                    </ng-template>
                    <img [src]="candidate.avatarURL" alt="Party Logo">
                    <p>{{candidate.fullName }}</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div *ngIf="selectedParty !== '' ">
    <div class="main-container">
        <div class="content-row">
            <div class="left-panel">
                <div class="left-top-panel" [style.background-color]="partyBackgroundColor">
                    <div class="row">
                        <div class="col-7" style="padding: 10px 30px 10px 30px; margin-left: 20px;">
                            <p style="padding: 0px; margin: 0;">อันดับ</p>
                            <div class="center-info">
                                <p style="padding: 0px; margin: 0; font-size: 2.5rem;">{{ ranking }}</p>
                            </div>
                            <p style="padding: 0px; margin: 0;">{{ selectedParty }}</p>
                        </div>
                        <div class="col-5" style="padding: 10px 30px 10px 30px;">
                            <div class="center-info">
                                <p style="padding: 0px; margin: 0; font-size: 3.5rem;">{{ totalSeats }}</p>
                            </div>
                            <p>/ 500 คน</p>
                        </div>
                    </div>
                    <div class="row">
                        <img [src]="img_head" *ngIf="img_head" alt="Party Logo" class="head-logo">
                    </div>
                </div>
                <div class="left-bottom-panel">
                    <div class="part1">
                        <div class="zone-seats-info">
                            <p style="font-size: 1rem">ส.ส. บัญชีรายชื่อ</p>
                            <div class="center-info">
                                <p style="padding: 0px; margin: 0; font-size: 1.5rem; font-weight: bold;">{{
                                    partylistSeats
                                    }}</p>
                            </div>
                            <p style="font-size: 1rem">/ 100 คน</p>
                        </div>
                        <div class="vote-info">
                            <div class="center-info">
                                <p style="padding: 0px; margin: 0; font-size: 1.5rem; font-weight: bold;">
                                    {{ formatTotalVotes(totalVote) }}
                                </p>
                            </div>
                            <p style="font-size: 1rem">คะแนน</p>
                        </div>
                    </div>
                    <div class="orange-dots">
                        <span class="dot" *ngFor="let i of getPartylistSeatsArray()"
                            [style.background-color]="partyBackgroundColor"></span>
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="button-container">
                    <img [src]="img_party" *ngIf="img_party" alt="Party Logo" class="party-logo">
                </div>
                <div class="row">
                    <div #svgContainer (mousemove)="onSvgHover($event)" (mouseout)="hideTooltip()"
                        (click)="onSvgClick($event)">
                        <div [innerHTML]="svgContent"></div>
                    </div>
                </div>
                <div class="zone-seats-info">
                    <p>ส.ส. เขต</p>
                    <div class="center-info">
                        <p style="padding: 0px; margin: 0; font-size: 3.5rem; font-weight: bold;">{{ zoneSeats }}</p>
                    </div>
                    <p>/ 400 คน</p>
                </div>
                <div class="button-container-ri">
                    <button class="ds-Button" mat-button color="primary" (click)="closeDialog()">X</button>
                </div>
            </div>
        </div>
    </div>
</div> -->