.main-container {
    display: flex;
    background: #ffffff;
    border-radius: 1rem;
    // border: #000000 2px solid;
}

.left-panel {
    flex: 1;
    background: #f1f1f169;
    padding: 1rem;
}

.middle-panal {
    flex: 2;

    h4 {
        text-align: center;
        padding: 2rem;
    }

    .dashboard {
        align-self: center;
    }
}

.right-panel {
    flex: 1;
    background: #f1f1f169;
    padding: 1rem;
    user-select: none;
    border-radius: 1rem;
}



