<!-- <p>tab4 works!</p> -->
<div class="manage-container">
    <div class="flex-column-container">
        <div class="left">
            <div class="manage-content">
                <div class="set-auto-time">
                    Set Auto Time <input type="number" min="1" step="1" [(ngModel)]="timeAuto" value="2"
                        (change)="onTimeChange()"> sec
                    <mat-slide-toggle [(ngModel)]="checked" (change)="onToggleChange()">
                    </mat-slide-toggle>
                </div>
                <div class="filter-row">
                    <!-- จังหวัด -->
                    <div class="flex-fill">
                        <label class="form-label">จังหวัด :</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>ค้นหาจังหวัด</mat-label>
                            <input type="text" matInput [formControl]="provinceCtrl" [matAutocomplete]="autoProvince"
                                (focus)="openProvincePanel()" #provinceTrig="matAutocompleteTrigger"
                                matAutocompleteTrigger>
                            <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayProvince">
                                <mat-option *ngFor="let p of filteredProvinces | async" [value]="p">
                                    {{ p.provinceName }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <!-- เขต -->
                    <div class="flex-fill">
                        <label class="form-label">เขต :</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>เลือกเขต</mat-label>
                            <mat-select [(ngModel)]="selectedZone" [disabled]="!zonesInProvince.length">
                                <mat-option *ngFor="let zone of zonesInProvince" [value]="zone.areaName">
                                    {{ zone.areaName }}
                                </mat-option>
                            </mat-select>
                            <button *ngIf="selectedZone" mat-icon-button matSuffix type="button" aria-label="Clear zone"
                                (click)="clearZone($event)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <!-- ปุ่ม Submit -->
                    <div style="align-self:center">
                        <button mat-raised-button color="primary" class="px-4" (click)="onSubmitFilter()">
                            SUBMIT
                        </button>
                    </div>
                </div>
                <hr style="margin: 5px;">
                <div class="update-data">
                    <span class="text-header">อัพเดทข้อมูล</span>

                    <div class="top-filter-row" [formGroup]="updateForm">

                        <!-- จังหวัด -->
                        <div class="province-col">
                            <label class="form-label mb-0">จังหวัด</label>
                            <select class="form-select" formControlName="province">
                                <option [ngValue]="null">-- เลือกจังหวัด --</option>
                                <option *ngFor="let p of provinces" [ngValue]="p">
                                    {{ p.provinceName }}
                                </option>
                            </select>
                        </div>

                        <!-- เขต -->
                        <div class="district-col">
                            <label class="form-label mb-0">เขต</label>
                            <select class="form-select" formControlName="zone">
                                <option [ngValue]="null">-- เลือกเขต --</option>
                                <option *ngFor="let z of zonesInProvince_UPDATE" [ngValue]="z">
                                    {{ z.areaName }}
                                </option>
                            </select>
                        </div>

                        <!-- percent -->
                        <div class="percent-count">
                            <label class="form-label mb-0">นับไปแล้ว (%)</label>
                            <input type="number" class="form-control" formControlName="percent" min="0" max="100"
                                step="0.1" />
                        </div>

                    </div>


                    <form #rankForm="ngForm" (ngSubmit)="onSubmit(rankForm)">
                        <div *ngFor="let q of referendumQuestions; let i = index"
                            class="referendum-mockup mt-4 p-4 bg-white rounded shadow-sm border mb-4">

                            <h6 class="fw-bold mb-3 text-primary">ข้อที่ {{ q.questionNumber }} : {{ q.questionText }}
                            </h6>

                            <div class="row g-3 mb-4">
                                <div class="col-md-3">
                                    <div class="card border-0 rounded-3 shadow-sm"
                                        style="background-color: #f6ffed; border: 1px solid #b7eb8f !important;">
                                        <div class="card-body p-3">
                                            <label class="fw-bold small text-success mb-2">AGREE (คะแนน) </label>
                                            <input type="text" class="form-control text-center fw-bold"
                                                [value]="formatNumber(findOption(q, 'agree').totalVotes)"
                                                (input)="onInputChange($event, q, 'agree')"
                                                (keydown)="blockDash($event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-0 rounded-3 shadow-sm"
                                        style="background-color: #fff1f0; border: 1px solid #ffa39e !important;">
                                        <div class="card-body p-3">
                                            <label class="fw-bold small text-danger mb-2">DISAGREE (คะแนน) </label>
                                            <input type="text" class="form-control text-center fw-bold"
                                                [value]="formatNumber(findOption(q, 'disagree').totalVotes)"
                                                (input)="onInputChange($event, q, 'disagree')"
                                                (keydown)="blockDash($event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-0 rounded-3 shadow-sm"
                                        style="background-color: #f5f5f5; border: 1px solid #d9d9d9 !important;">
                                        <div class="card-body p-3">
                                            <label class="fw-bold small text-secondary mb-2">บัตรเสีย (คะแนน)</label>
                                            <input type="text" class="form-control text-center fw-bold"
                                                [value]="formatNumber(q.invalidVotes)"
                                                (input)="onInputChange($event, q, 'invalid')"
                                                (keydown)="blockDash($event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card border-0 rounded-3 shadow-sm"
                                        style="background-color: #f9f0ff; border: 1px solid #d3adf7 !important;">
                                        <div class="card-body p-3">
                                            <label class="fw-bold small mb-2"
                                                style="color: #722ed1;">ไม่ประสงค์ลงคะแนน</label>
                                            <input type="text" class="form-control text-center fw-bold"
                                                [value]="formatNumber(q.noVotes)"
                                                (input)="onInputChange($event, q, 'abstain')"
                                                (keydown)="blockDash($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="progress-section bg-light p-3 rounded-3 border">
                                <div class="mb-2">

                                    <div class="d-flex justify-content-between mb-1">
                                        <span class="small fw-bold text-success">Agree</span>
                                        <span class="small fw-bold text-success">{{ getPercent(q, 'agree') }}%</span>
                                    </div>
                                    <div class="progress"
                                        style="height: 12px; background-color: #e9ecef; border-radius: 10px;">
                                        <div class="progress-bar" role="progressbar"
                                            [style.width.%]="getPercent(q, 'agree')" style="background-color: #52c41a;">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <span class="small fw-bold text-danger">Disagree</span>
                                        <span class="small fw-bold text-danger">{{ getPercent(q, 'disagree') }}%</span>
                                    </div>
                                    <div class="progress"
                                        style="height: 12px; background-color: #e9ecef; border-radius: 10px;">
                                        <div class="progress-bar" role="progressbar"
                                            [style.width.%]="getPercent(q, 'disagree')"
                                            style="background-color: #ff4d4f;">
                                        </div>
                                    </div>
                                </div>


                                <div class="mt-3 text-center small text-muted border-top pt-2">
                                    รวมคะแนนข้อที่ {{ q.questionNumber }}:
                                    <span class="fw-bold text-dark">
                                        {{ formatNumber(getTotal(q)) }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary" type="submit">GEN JSON</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="right">
            <textarea class="form-control" readonly
                style="height: 100%; resize: none; font-size: small;letter-spacing:1px;">{{ responseJsonObs | async }}</textarea>
        </div>
    </div>
</div>