<!-- <p>tab3 works!</p> -->
<div class="manage-container">
    <div class="flex-column-container">
        <div class="left">
            <div class="manage-content">
                <div class="set-auto-time">
                    Set Auto Time <input type="number" min="1" step="1" [(ngModel)]="timeAuto" value="2"
                        (change)="onTimeChange()"> sec
                    <mat-slide-toggle [(ngModel)]="checked" (change)="onToggleChange()">
                    </mat-slide-toggle>
                </div>
                <div class="filter-row">
                    <!-- จังหวัด -->
                    <div class="flex-fill">
                        <label class="form-label">จังหวัด :</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>ค้นหาจังหวัด</mat-label>
                            <input type="text" matInput [formControl]="provinceCtrl" [matAutocomplete]="autoProvince">
                            <mat-autocomplete #autoProvince="matAutocomplete"
                                (optionSelected)="onProvinceSelected($event)">
                                <mat-option *ngFor="let p of filteredProvinces | async" [value]="p.provinceName">
                                    {{ p.provinceName }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <!-- เขต -->
                    <div class="flex-fill">
                        <!-- <label class="form-label">เขต :</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>เลือกเขต</mat-label>
                            <mat-select [(ngModel)]="selectedZone" [disabled]="!selectedProvince">
                                <mat-option *ngFor="let zone of zonesInProvince" [value]="zone.areaName">
                                    {{ zone.areaName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>

                    <!-- ปุ่ม Submit -->
                    <div style="align-self:center">
                        <button mat-raised-button color="primary" class="px-4" (click)="onSubmitFilter()">
                            SUBMIT
                        </button>
                    </div>
                </div>
                <hr style="margin: 5px;">
                <div class="update-data">
                    <span>อัพเดทข้อมูล</span>

                    <div class="top-filter-row">
                        <!-- <div class="province-col">
                            <label class="form-label mb-0">province</label>
                            <input type="text" class="form-control"  [(ngModel)]="province"
                                name="province">
                        </div> -->
                        <div class="province-col">
                            <label class="form-label mb-0">Province</label>
                            <select class="form-select" [(ngModel)]="province" name="province">
                                <option value="" disabled selected>-- เลือกจังหวัด --</option>
                                <option *ngFor="let item of provinces" [value]="item.provinceName">
                                    {{ item.provinceName }}
                                </option>
                            </select>
                        </div>

                        <div class="zone-col">
                        </div>

                        <div class="percent-count">
                            <label class="form-label mb-0">นับไปแล้ว (%)</label>
                            <input type="number" class="form-control" [(ngModel)]="inputPercent" name="inputPercent"
                                min="0" step="0.1" max="100">
                        </div>
                    </div>

                    <div class="header-row fw-bold d-flex">
                        <div class="rank-col">Rank</div>
                        <div class="pic-col">party_pic</div>
                        <div class="party-col">party_name</div>
                        <div class="score-col">score</div>
                    </div>

                    <!-- <div class="header-row fw-bold d-flex">
                        <div class="rank-col">Rank</div>
                        <div class="pic-col">party_pic <span class="ex-text">01</span></div>
                        <div class="party-col">party_name <span class="ex-text">ชาติพัฒนากล้า</span></div>
                        <div class="score-col">score <span class="ex-text">300,000</span></div>
                    </div> -->

                    <form #rankForm="ngForm" (ngSubmit)="onSubmit(rankForm)">
                        <div *ngFor="let rank of ranks; let i = index" class="data-row d-flex mt-2 align-items-center">
                            <div class="rank-col text-center">rank{{i+1}} :</div>
                            <div class="pic-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input1"
                                    name="input1-{{i}}" [placeholder]="isMobile ? 'party_pic' : ''" required>
                            </div>
                            <div class="party-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input2"
                                    name="input2-{{i}}" [placeholder]="isMobile ? 'party_name' : ''" required>
                            </div>
                            <div class="score-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input3"
                                    name="input3-{{i}}" [placeholder]="isMobile ? 'score' : ''" required>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary" type="submit">GEN JSON</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="right">
            <textarea class="form-control" readonly
                style="height: 100%; resize: none; font-size: small;letter-spacing:1px;">{{ responseJsonObs | async }}</textarea>
            <!-- style="height: 100%; resize: none; font-size: small;">{{responseJsonText}}</textarea> -->
        </div>
    </div>
</div>