<!-- <div class="svg-container"> -->
<div>
  <div [innerHTML]="svgContent" (mousemove)="onSvgHover($event)" (mouseleave)="hideTooltip()"
    (click)="onSvgClick($event)"></div>
</div>

<div *ngIf="tooltipVisible && tooltipText !== '' " class="custom-tooltip"
  [ngStyle]="{ top: tooltipY + 'px', left: tooltipX + 'px' }" [style.background]="getColor(tooltipText)">
  <img [src]="getUrlParty(tooltipText)" *ngIf="getUrlParty(tooltipText) !== ''" class="img-party">
  <div>{{ tooltipText }}</div>
  <div style="margin-left: 10px;"> {{tooltipSeat}}</div>
</div>