 .bg {
     height: 88vh;
     background: rgb(255, 255, 255);
     border-radius: 10px;
     padding: 1rem;
 }


 .custom-tabs {

     // เปลี่ยนสีพื้นหลังของ Tab ที่ active (MDC)
     ::ng-deep .mdc-tab--active {
         background-color: #000000 !important; // สีพื้นหลัง
         transition: background-color 0.3s ease;
     }

     // เปลี่ยนสีข้อความใน Tab ที่ active
     ::ng-deep .mdc-tab--active .mdc-tab__text-label {
         color: white !important;
         font-weight: 600;
     }

     // (Optional) เปลี่ยนเส้นใต้ (indicator)
     ::ng-deep .mdc-tab-indicator--active .mdc-tab-indicator__content--underline {
         background-color: #c3c3c300 !important;
         height: 0px !important;
     }

     // (Optional) Hover effect
     ::ng-deep .mdc-tab:hover {
         background-color: rgba(210, 210, 210, 0.15);
         border-radius: 2px;
     }

     // (Optional) ทำให้ tab ดูเป็น pill (โค้งมน)
     ::ng-deep .mdc-tab {
         border-radius: 10px;
         margin: 0 4px;
         min-width: 100px;
     }

     ::ng-deep .mdc-tab-indicator__content--underline {
         border-color: transparent !important;
         //  border: none !important;
         height: 4px !important;
         border-radius: 2px 2px 0 0 !important;
     }
 }

 /*** ALL TAB ***/

 .manage-container {
     margin: .3rem .2rem;

     .flex-column-container {
         display: flex;
         height: 100%;

         .left {
             flex: 2;
             padding: 10px;

             .manage-content {
                 height: 100%;
                 overflow: auto;
                 background: #f0f0f0;
                 border-radius: 10px;
                 padding: .5rem;

                 .set-auto-time {
                     display: flex;
                     justify-content: flex-start;
                     align-items: center;
                     gap: 1rem;
                     padding: .5rem;

                     input {
                         width: 3rem;
                         border: none;
                         border-radius: 10px;
                         padding: .2rem .5rem;
                     }
                 }

             }
         }

         .right {
             flex: 1;
             padding: 10px;
         }
     }
 }

 /*** TAB 1 : Election Country ***/
 .update-data {
     padding: .5rem;

     .percent-count {
         display: flex;
         flex-direction: column;
         width: 20%;
         margin-left: auto;
     }

     .ex-text {
         color: rgb(134, 134, 134);
         font-size: small;
         margin-left: 5px;
         font-weight: 400;
     }
 }

 /*** TAB 2 : Election Province ***/
 /*** TAB 3 : Election District ***/