<div class="bg">
    <mat-tab-group class="custom-tabs" mat-stretch-tabs>
        <mat-tab *ngFor="let menu of menus" [label]="menu.MenuName">
            <ng-container *ngIf="menu.MenuID === 1">
                <app-tab1></app-tab1>
            </ng-container>

            <ng-container *ngIf="menu.MenuID === 2">
               <app-tab2></app-tab2>
            </ng-container>

            <ng-container *ngIf="menu.MenuID === 3">
                <app-tab3></app-tab3>
            </ng-container>
        </mat-tab>
    </mat-tab-group>

</div>

<!-- <mat-tab-group class="custom-tabs" mat-stretch-tabs>
        <mat-tab label="Election Country">
            <ng-template matTabContent>
                ELECTION COUNTRY
            </ng-template>
        </mat-tab>
        <mat-tab label="Election Province">
            <ng-template matTabContent>
                ELECTION PROVINCE
            </ng-template>
        </mat-tab>
        <mat-tab label="Election District">
            <ng-template matTabContent>
                ELECTION DISTRICT
            </ng-template>
        </mat-tab>
    </mat-tab-group> -->