.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-image {
    margin-top: 10px;
    padding: 10px;
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
}

.voting-status-desktop {
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.status-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.updated-at,
.tg {
    color: white;
    font-size: 14px;
}

.updated-at .field {
    display: flex;
    gap: 5px;
}

.tg {
    display: flex;
    gap: 5px;
}

.tg_pfx {
    font-weight: bold;
}

.total .field {
    display: inline-flex;
    gap: 5px;
    margin-right: 10px;
}

.label,
.value {
    color: white;
}

.tv,
.ti_bf {
    display: inline;
}