<div class="header-text">จำนวนที่นั่งรวมต่อพรรค</div>
<div class="header-table">
  <div style="display: flex;">
    <p style="margin-right: 20px;"> อันดับ</p>
    <p> พรรค</p>
  </div>
  <p> เขต / บัญชีรายชื่อ</p>
</div>

<div #scrollContainer class="scroll-container">
  <div *ngFor="let party of partySeatCountsList; let i = index;" class="party-card-container">
    <!-- กล่องพรรค -->
    <div class="party-card" [style.background]="getColor(party.partyName)" (click)="onSelectParty(party.partyName)">
      <div class="number">{{i+1}}</div>
      <div class="left-section">
        <img [src]="getUrlHead(party.partyName)" alt="Party Logo" class="img-head">
        <img [src]="getUrlParty(party.partyName)" *ngIf="getUrlParty(party.partyName) !== ''" alt="Party Logo"
          class="img-party">
      </div>
      <!-- ซ้าย -->
      <div class="middle-section">
        <div class="partyName">
          {{ party.partyName }} <span style="font-size: 1.5rem;"> ({{ party.zone_seats + party.partylist_seats
            }})</span>
        </div>

        <div class="progress-bar-bg">
          <div class="progress-bar" [style.--progress-width]="((party.zone_seats + party.partylist_seats) / totalSeats) * 100 + '%'"
            [style.background]="getColor(party.partyName)"></div>
        </div>

        <p class="vote-total">
          คะแนนรวม: {{ formatTotalVotes(party.total_party_votes) }}
        </p>
      </div>

      <!-- ขวา -->
      <div class="right-section">
        <div class="zone-seats">{{ party.zone_seats }}</div>
        <div class="partylist-seats" (click)="onSelectPartylistSeats(party.partyName); $event.stopPropagation()">
          {{ party.partylist_seats }}
        </div>
      </div>
    </div>
    <hr style="margin: 1%;" />
  </div>
</div>

<div
  style="position: absolute; color: rgba(0, 0, 0, 0.614); cursor: pointer; bottom: 10px; right: 10px; background: #ffffff; border-radius: 15px; padding: 0.3rem; display: flex; align-items: center; justify-content: center;"
  (click)="scrollToTopContainer()" matTooltip="เลื่อนไปด้านบน">
  <mat-icon style="display: flex; align-items: center; justify-content: center;">vertical_align_top</mat-icon>
</div>