<div class="chart-container" [ngClass]="{ 'full-width': fullWidth }">
    <!-- <canvas id="semiPieChart"></canvas> -->
    <!-- <canvas id="barChart"></canvas> -->
    <canvas #pieCanvas></canvas>
    <div class="label-row">

        <div class="label disagree">
            <div class="title">ไม่เห็นด้วย</div>
            <div class="percent">{{ question.disagreePercent }}%</div>
            <div class="score" [class.full]="fullWidth">({{ question.disagreeScore | number }} คะแนน)</div>
        </div>

        <div class="label agree">
            <div class="title">เห็นด้วย</div>
            <div class="percent">{{ question.agreePercent }}%</div>
            <div class="score" [class.full]="fullWidth">({{ question.agreeScore | number}} คะแนน)</div>
        </div>
    </div>

</div>