<div class="manage-container">
    <div class="flex-column-container">
        <div class="left">
            <div class="manage-content">
                <div class="control control-all">
                    <span>
                        <div class="dot"></div>Random ทั้งประเทศ
                    </span>
                    <div class="set-auto-time">
                        Set Auto Time <input type="number" min="1" step="1" [(ngModel)]="timeAuto_All" value="2"
                            (change)="onTimeChange_All()"> sec
                        <mat-slide-toggle [(ngModel)]="checked_All_Auto" (change)="onToggleChange_All()">
                        </mat-slide-toggle>
                    </div>
                </div>
                <div class="control control-province">
                    <span>
                        <div class="dot"></div>Random เขตในจังหวัด
                    </span>
                    <div class="set-auto-time">
                        Set Auto Time <input type="number" min="1" step="1" [(ngModel)]="timeAuto_Province" value="2"
                            (change)="onTimeChange_Province()"> sec
                        <mat-slide-toggle [checked]="checked_Province_Auto" (change)="onToggleChange_Province($event)">
                        </mat-slide-toggle>
                    </div>
                    <div class="filter-row d-flex">
                        <!-- จังหวัด -->
                        <div class="flex-fill">
                            <label class="form-label">จังหวัด :</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>ค้นหาจังหวัด</mat-label>
                                <input matInput [formControl]="provinceCtrl_Province"
                                    [matAutocomplete]="autoProvinceProvince" (focus)="openProvincePanel()"
                                    #provinceTrig="matAutocompleteTrigger" matAutocompleteTrigger />
                                <mat-autocomplete #autoProvinceProvince="matAutocomplete"
                                    (optionSelected)="onProvinceSelected_Province($event)">
                                    <mat-option *ngFor="let p of filteredProvinces_Province | async"
                                        [value]="p.provinceName">
                                        {{ p.provinceName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <!-- ปุ่ม Submit -->
                        <!-- <div style="align-self:center">
                            <button mat-raised-button color="primary" class="px-4" (click)="onSubmitFilter_Province()">
                                SUBMIT
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="control control-specific">
                    <span>
                        <div class="dot"></div>เจาะจง
                    </span>
                    <div class="filter-row d-flex">
                        <!-- จังหวัด -->
                        <div class="flex-fill">
                            <label class="form-label">จังหวัด :</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>ค้นหาจังหวัด</mat-label>
                                <input type="text" matInput [formControl]="provinceCtrl_Specific"
                                    [matAutocomplete]="autoProvinceSpecific" (focus)="openProvincePanel_Specific()"
                                    (click)="openProvincePanel_Specific()" #specificTrig="matAutocompleteTrigger"
                                    matAutocompleteTrigger />

                                <mat-autocomplete #autoProvinceSpecific="matAutocomplete"
                                    (optionSelected)="onProvinceSelected_Specific($event)">
                                    <mat-option *ngFor="let p of filteredProvinces_Specific | async"
                                        [value]="p.provinceName">
                                        {{ p.provinceName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <!-- เขต -->
                        <div class="flex-fill">
                            <label class="form-label">เขต :</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>เลือกเขต</mat-label>
                                <mat-select [(ngModel)]="selectedZone_Specific" [disabled]="!selectedProvince_Specific">
                                    <mat-option *ngFor="let zone of zonesInProvince_Specific" [value]="zone.areaName">
                                        {{ zone.areaName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- ปุ่ม Submit -->
                        <div style="align-self:center">
                            <button mat-raised-button color="primary" class="px-4" (click)="onSubmitFilter_Specific()">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </div>
                <hr style="margin: 5px;">
                <div class="update-data">
                    <span class="text-header">อัพเดทข้อมูล</span>

                    <div class="top-filter-row d-flex">

                        <div class="province-col">
                            <label class="form-label mb-0">จังหวัด</label>
                            <select class="form-select" [(ngModel)]="province" name="province"
                                (change)="onProvinceSelected2($event)">
                                <option value="" disabled selected>-- เลือกจังหวัด --</option>
                                <option *ngFor="let item of provinces" [value]="item.provinceName">
                                    {{ item.provinceName }}
                                </option>
                            </select>
                        </div>

                        <div class="zone-col">
                            <label class="form-label mb-0">เขต</label>
                            <select class="form-select" [(ngModel)]="zone" name="zone"
                                [disabled]="!province || !zonesInProvince2 || zonesInProvince2.length === 0">
                                <option value="" disabled selected>-- เลือกเขต --</option>
                                <option *ngFor="let z of zonesInProvince2" [value]="z.zone">
                                    {{ z.areaName }}
                                </option>
                            </select>
                        </div>
                        <div class="percent-count">
                            <label class="form-label mb-0">นับไปแล้ว (%)</label>
                            <input type="number" class="form-control" [(ngModel)]="inputPercent" name="inputPercent"
                                min="0" step="0.1" max="100">
                        </div>
                    </div>
                    <div class="header-row fw-bold">
                        <div class="rank-col">อันดับ</div>
                        <div class="name-col">name</div>
                        <div class="title-col">title</div>
                        <div class="fName-col">firstName</div>
                        <div class="lName-col">lastName</div>
                        <div class="cImg-col">candidate_img</div>
                        <div class="party-col">party_name</div>
                        <div class="party-logo-col">party_logo</div>
                        <div class="score-col">score</div>
                    </div>

                    <form #rankForm="ngForm" (ngSubmit)="onSubmit(rankForm)">
                        <div *ngFor="let rank of ranks; let i = index" class="data-row d-flex mt-2 align-items-center">
                            <div class="rank-col text-center">{{i+1}} :</div>
                            <!-- <div class="rank-col text-center">อันดับ {{i+1}} :</div> -->
                            <div class="name-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input1"
                                    name="input1-{{i}}" [placeholder]="isMobile ? 'name' : ''" required>
                            </div>
                            <div class="title-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input2"
                                    name="input2-{{i}}" [placeholder]="isMobile ? 'title' : ''" required>
                            </div>
                            <div class="fName-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input3"
                                    name="input3-{{i}}" [placeholder]="isMobile ? 'firstName' : ''" required>
                            </div>
                            <div class="lName-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input4"
                                    name="input4-{{i}}" [placeholder]="isMobile ? 'lastName' : ''" required>
                            </div>
                            <div class="cImg-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input5"
                                    name="input5-{{i}}" [placeholder]="isMobile ? 'candidate_img' : ''" required>
                            </div>
                            <div class="party-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input6"
                                    name="input6-{{i}}" [placeholder]="isMobile ? 'party_name' : ''" required>
                            </div>
                            <div class="party-logo-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input7"
                                    name="input7-{{i}}" [placeholder]="isMobile ? 'party_logo' : ''" required>
                            </div>
                            <div class="score-col">
                                <input type="text" class="form-control" [(ngModel)]="ranks[i].input8"
                                    name="input8-{{i}}" [placeholder]="isMobile ? 'score' : ''" required>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary" type="submit">GEN JSON</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="right">
            <span class="all">
                <div class="dot"></div>Random ทั้งประเทศ
            </span>
            <textarea class="form-control all" readonly
                style="height: 30%; resize: none; font-size: small;letter-spacing:1px;">{{ responseJsonObs_All_auto | async }}</textarea>

            <span class="province">
                <div class="dot"></div>Random เขตในจังหวัด
            </span>
            <textarea class="form-control province" readonly
                style="height: 30%; resize: none; font-size: small;letter-spacing:1px;">{{ responseJson_Province_auto | async }}</textarea>

            <span class="specific">
                <div class="dot"></div>เขตเจาะจง
            </span>
            <textarea class="form-control specific" readonly
                style="height: 30%; resize: none; font-size: small;letter-spacing:1px;">{{ responseJson_Specific | async }}</textarea>
        </div>
    </div>
</div>