@use 'bootstrap/scss/bootstrap' as *;

* {
    font-family: "Kanit", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%);
    // background-image: url('/background/bg.png');
    background-image: url('/background/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

svg {
    width: 100% !important;
}

g {
    cursor: pointer;
}

svg text[id^="text"] tspan {
    fill: #FFFFFF !important;
}

path {
    display: inline;
    fill: rgb(207, 212, 229) !important;
    stroke: transparent !important;
    stroke-width: 0.2;
}

circle{
    cursor: pointer !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}