@use 'bootstrap/scss/bootstrap' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

svg {
    width: 100% !important;
}

g {
    cursor: pointer;
}


path{
    display: inline;
    fill: #ffffff !important;
    stroke: #000000 !important;
    stroke-width: 0.2;
}