@use 'bootstrap/scss/bootstrap' as *;

* {
    font-family: "Kanit", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #000000;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

svg {
    width: 100% !important;
}

g {
    cursor: pointer;
}

svg text[id^="text"] tspan {
    fill: #FFFFFF !important;
}

path {
    display: inline;
    fill: rgb(207, 212, 229) !important;
    stroke: transparent !important;
    stroke-width: 0.2;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
