<div style="position: relative;" class="show-province-all">
    <h4 style="color: white;">คำถาม : {{ question.questionText }}</h4>
    <div class="glass-card card" style="color: white;">
        <div class="three-column-grid">
            <div class="column">
                <div class="region-tabs">
                    <p class="region-tab" *ngFor="let region of regionList" [class.active]="selectedRegion === region"
                        (click)="onRegionSelect(region)">
                        {{ region }}
                    </p>
                </div>
            </div>
            <div class="column svg-column">
                <div class="svg-container" #svgContainerRegion (click)="onSvgClickRegion($event)">
                    <div class="region-map-wrapper">
                        <div [innerHTML]="svgContentRegion"></div>
                    </div>
                </div>
            </div>
            <div class="column">
                <span class="loader" *ngIf="loading"></span>
                <div class="question-block" style="height: 100%;" *ngIf="!loading">
                    <!-- <h4>คำถาม : {{ question.questionText }}</h4> -->
                    <h4>{{textShow}}</h4>

                    <div>

                        <div class="referendum-layout">
                            <div class="right">
                                <div class="summary-card">
                                    <div class="summary-grid">
                                        <div class="item divider">
                                            <span class="label">บัตรดี</span>
                                            <span class="value">{{ question.goodVotes | number }}</span>
                                        </div>

                                        <div class="item divider">
                                            <span class="label">บัตรเสีย</span>
                                            <span class="value">{{ question.invalidVotes | number }}</span>
                                        </div>

                                        <div class="item">
                                            <span class="label">งดออกเสียง</span>
                                            <span class="value">{{ question.noVotes | number }}</span>
                                        </div>
                                    </div>

                                    <div class="total">
                                        <span class="label">ผู้มาใช้สิทธิทั้งหมด</span>
                                        <span class="value">{{ question.totalVotes | number }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <!-- <app-semi-pie [agree]="question.agreePercent" [disagree]="question.disagreePercent">
                            </app-semi-pie> -->

                            <div class="left">
                                <div class="chart-container-vertical">

                                    <div class="bar-container">
                                        <div class="bar agree" [style.height.%]="question.agreePercent">
                                            <div *ngIf="question.showGuideLine && question.agreePercent < question.disagreePercent"
                                                class="guide-line-on-bar bar-agree"></div>
                                            <span>{{ question.agreePercent | number:'1.2-2' }}%</span>
                                        </div>
                                        <p style="margin-top: 5px;">เห็นด้วย</p>
                                        <p style="font-weight: 400;">( {{question.agreeScore | number:'1.0-0' }} )</p>
                                    </div>

                                    <div class="bar-container">
                                        <div class="bar disagree" [style.height.%]="question.disagreePercent">
                                            <div *ngIf="question.showGuideLine && question.disagreePercent < question.agreePercent"
                                                class="guide-line-on-bar bar-disagree"></div>
                                            <span>{{ question.disagreePercent | number:'1.2-2' }}%</span>
                                        </div>
                                        <p style="margin-top: 5px;">ไม่เห็นด้วย</p>
                                        <p style="font-weight: 400;">( {{question.disagreeScore | number:'1.0-0' }} )
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- <hr> -->

                        </div>


                    </div> <!-- <hr> -->
                </div>

            </div>
        </div>
    </div>


</div>