* {
    user-select: none;
}

.glass-card {
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    height: -webkit-fill-available;
}

.glass-card:before,
.glass-card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 120s linear infinite;
    border-radius: 15px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glass-card:after {
    filter: blur(10px);
}

.loader {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 45%;
    left: 40%;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #FF3D00;
    width: 3px;
    height: 40px;
    transform: translateX(-50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.svg-container::-webkit-scrollbar,
.region-tabs::-webkit-scrollbar,
.question-block::-webkit-scrollbar {
    display: none; // Chrome / Safari / Edge
}

// NEW!
.show-province-all {
    width: 94vw;
    height: 85dvh;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .card {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .header {
        font-size: 2rem;
    }

    .three-column-grid {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        gap: 1rem;
        flex: 1;
        height: 100%;
    }

    .column {
        padding: 1rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    /*column 1*/
    .region-tabs {
        display: flex;
        margin-top: 1rem;
        // gap: 1rem;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none;
    }

    .region-tab {
        padding: 0.5rem 1rem;
        background: #333;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
        user-select: none;
    }

    .region-tab:hover,
    .region-tab.active {
        opacity: 1;
        background: #555;
    }

    /*column 2*/
    .svg-column {
        position: relative;

        .reset-btn {
            width: 44px;
            height: 44px;
            background-color: #1e1e1e;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            z-index: 20; // กันโดน SVG ทับ

            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
            transition: all 0.2s ease;

            &:hover {
                background-color: #2a2a2a;
                transform: scale(1.05);
            }

            mat-icon {
                color: #fff;
                font-size: 26px;
            }
        }
    }

    .svg-container {
        flex: 1; // เต็มพื้นที่ column
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.2); // debug background
        border-radius: 5px;
        // overflow: hidden;
        overflow-y: auto;
        padding: 10px;
        margin: 0; // reset margin
        padding: 20px;
        height: 90%;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none;
    }

    .region-map-wrapper {
        display: flex;
        justify-content: center; // อยู่ตรงกลางแนวนอน
        align-items: center; // อยู่ตรงกลางแนวตั้ง
        width: 100%;
        height: 100%;
        position: relative;

        // ทำให้ SVG responsive
        max-width: 100%;
        max-height: 100%;

        // Center SVG content
        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; //ปรับขนาดให้เต็ม container
            height: 100%;
        }

        svg {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            display: block;
            margin: 0 auto; // ตรงกลาง SVG

        }
    }

    /*column 3*/

    .question-block {
        color: white;
        overflow-y: auto;
        scrollbar-width: none; // Firefox
        -ms-overflow-style: none;
    }

    .referendum-layout {
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        padding: 10px;
        // overflow-y: auto;
    }

    .left {
        /* ดันเนื้อหาภายในลงด้านล่าง */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .right {
        /* ดันเนื้อหาภายในขึ้นด้านบน */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // height: 40%;
    }

    .summary-card {
        background: #111;
        border-radius: 12px;
        padding: 20px 30px;
        max-width: 100%;
        color: white;
        height: fit-content;
    }

    .summary-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .divider {
        border-right: 1px solid #333;
    }

    .label {
        font-size: 14px;
        opacity: 0.8;
    }

    .value {
        font-size: 26px;
        font-weight: bold;
        margin-top: 6px;
    }

    .total {
        margin-top: 25px;
        padding-top: 15px;
        border-top: 1px solid #333;
        text-align: center;

        .label {
            font-size: 14px;
            opacity: 0.8;
        }

        .value {
            display: block;
            font-size: 26px;
            font-weight: bold;
            margin-top: 8px;
        }
    }


    .chart-container-vertical {
        position: relative;
        display: flex;
        justify-content: space-around;
        height: 30vh;
    }

    .bar-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        height: 100%;
    }

    .bar {
        width: 100%;
        position: relative; // ❗ จำเป็นมาก
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: height 0.3s ease;
    }

    .guide-line-on-bar {
        position: absolute;
        left: -10px;
        right: -10px;
        top: 0;
        border-top: 2px dashed #ffffff84;
        opacity: 0.9;
        z-index: 10;
        pointer-events: none;
    }

    .bar-agree {
        width: 560px;
    }

    .bar-disagree {
        width: 560px;
        left: -300px;
    }

    .agree {
        background-color: #4CAF50;
    }

    .disagree {
        background-color: #F44336;
    }

    .bar span {
        padding-bottom: 5px;
        font-size: 26px;
    }

    p {
        // margin-top: 5px;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

.glass-card {
    position: relative;
    background: linear-gradient(0deg, #000, #272727);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    height: -webkit-fill-available;
}

.loader {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 45%;
    left: 40%;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #FF3D00;
    width: 3px;
    height: 40px;
    transform: translateX(-50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.svg-container::-webkit-scrollbar,
.region-tabs::-webkit-scrollbar,
.question-block::-webkit-scrollbar {
    display: none; // Chrome / Safari / Edge
}